{% include './components/_header.html' %}

<body class="page-engage">
    {% include './components/_top-menu.html' %}
    
    <!-- engage -->
    <div class="engage">
        <div class="engage__inner">
            <div class="engage__txt">
                <div class="engage__logo pc-only"><img src="/images/engage/logo.png" alt=""></div>
                <div class="engage__map mb-only">
                    <div class="engage__logo"><img src="/images/engage/logo.png" alt=""></div>
                    <div class="engage__map-inner">
                        <iframe
                            src="https://www.google.com/maps/embed?language=en&pb=!1m18!1m12!1m3!1d3988.801921835981!2d103.85816531475402!3d1.2933089990567135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a93137e8e5%3A0xb7cf6c1c3b42618!2sCentennial%20Tower!5e0!3m2!1sen!2s!4v1567863938083!5m2!1sen!2s"
                            frameborder="0" style="border:0;" allowfullscreen="">
                        </iframe>
                    </div>
                </div>
                <ul class="engage__list">
                    <li class="engage__list-item">
                        <p class="engage__list-ttl">Address:</p>
                        <p class="engage__list-txt">3 Temasek Avenue, Centennial Tower, #19-01/03, Singapore 039190</p>
                    </li>
                    <li class="engage__list-item">
                        <p class="engage__list-ttl">Transport:</p>
                        <p class="engage__list-txt"> Promenade MRT station, 3 mins walk</p>
                    </li>
                    <li class="engage__list-item">
                        <p class="engage__list-ttl">Parking:</p>
                        <p class="engage__list-txt">Car park at Centennial Tower </p>
                    </li>
                    <li class="engage__list-item">
                        <p class="engage__list-ttl">Contact No:</p>
                        <p class="engage__list-txt">+65 XXXXXXXX</p>
                    </li>
                    <li class="engage__list-item">
                        <p class="engage__list-ttl">Email:</p>
                        <p class="engage__list-txt">engage@envysionwealth.com</p>
                    </li>
                </ul>
            </div>
            <div class="engage__map pc-only">
                <div class="engage__logo mb-only"><img src="/images/engage/logo.png" alt=""></div>
                <div class="engage__map-inner">
                    <iframe
                        src="https://www.google.com/maps/embed?language=en&pb=!1m18!1m12!1m3!1d3988.801921835981!2d103.85816531475402!3d1.2933089990567135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a93137e8e5%3A0xb7cf6c1c3b42618!2sCentennial%20Tower!5e0!3m2!1sen!2s!4v1567863938083!5m2!1sen!2s"
                        frameborder="0" style="border:0;" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="engage__banner">
            <div class="imgText1">
                <div class="imgText1__img">
                    <div class="imgText1__img-inner">
                        <img src="/images/engage/img002.png" alt="" class="imgText1__img-main">
                        <img src="/images/home/circle003.png" alt="" class="imgText1__img-circle">
                        <div class="imgText1__img-quarter">
                            <img src="/images/home/quarter-circle.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="imgText1__content">
                    <h3 class="title1 text-gradient">Beautiful Singapore</h3>
                    <p class="imgText1__content-txt">
                        Singapore is well recognized as one of the premier financial centres in Asia. In this age of
                        digital disruption, the nation is progressing towards becoming a Smart Nation – a national
                        initiative that is driving innovation to transform health, transport, urban solutions, finance,
                        and education sectors, empowering Singapore through this global technology force.<br /><br />
                        Located at the heart of Asia, Singapore is the place to do business with a strategic
                        geographical location that enables convenient access to the Asian and emerging market, its
                        excellent business infrastructure, with jurisdictions across the region and is ranked as one of
                        the world’s top economy.
                    </p>
                </div>
            </div>
        </div>
    </div>
   
	{% include './components/_footer.html' %}
</body>

</html>