{% include './components/_header.html' %}

<body class="page-establishment c-establishment">
   
    
    {% include './components/_top-menu.html' %}

    <!-- establishment -->
    <div class="establishment">
       <div class="envysion__slide">
            <div class="mainVisual mainVisual--banner2">
                <div class="mainVisual__banner mainVisual__disabled-parallax"  style="background-image:url(/images/establishment/img006.jpg)">
                    <video autoplay muted loop playsinline id="vid">
						<source src="http://13.229.128.201/frontend/images/establishment.mp4" type="video/mp4">
					</video>
                </div>
                <div class="mainVisual__txt disabled">
                    <p>To The</p>
                    <p>Next Generation</p>
                    <p>Leaders.</p>
                </div>
                <a href="#" class="mainVisual__btn">
                    <img src="/images/home/circle001.png" alt="">
                    <img src="/images/home/circle006.png" alt="">
                </a>
                <div class="mainVisual__logo pc-only"><img src="/images/home/logo003.png" alt=""></div>
                <div class="mainVisual__circle pc-only">
                    <p class="mainVisual__circle-txt">
                        We execute what you envision, giving form and protection to families' assets, assuring a strong
                        and prosperous future.<br /><br />
    
                        With a combined 100+ years of experience in legacy planning, complemented by an access to
                        best-in-class specialists, we are your trusted partner to assure a lasting legacy for your
                        family.
                    </p>
                    <img src="/images/home/logo004.png" alt="" class="mainVisual__circle-img">
                </div>
            </div>
        </div>
        {% include './components/_establishment-our-leadership.html' %}
        {% include './components/_establishment-executetive-profile.html' %}
        <!-- section -->
    </div>

	{% include './components/_footer.html' %}
</body>

</html>