{% include './components/_header.html' %}

<body class="page-expertise">
    
    {% include './components/_top-menu.html' %}
    
    <div class="expertise">
        <div class="envysion__slide">
            <div class="mainVisual mainVisual--banner3">
                <div class="mainVisual__banner mainVisual__disabled-parallax"  style="background-image:url(/images/home/expertise-banner3.jpg)">
                    <video autoplay muted loop playsinline id="vid">
						<source src="http://13.229.128.201/frontend/images/expertise.mp4" type="video/mp4">
					</video>
                    <!-- <img src="/images/expertise/img001-1.jpg" alt="" class="pc-only"> -->
                    <!-- <img src="/images/expertise/img001-mb.png" alt="" class="mb-only"> -->
                </div>
                <div class="mainVisual__txt" style="white-space: normal">
                    <p class=" expertise__banner-animation1">Where a Strong & Prosperous</p>
                    <p class=" expertise__banner-animation2">Future Begins.</p> 
                </div>
                <a href="#" class="mainVisual__btn">
                    <img src="/images/home/circle001.png" alt="">
                    <img src="/images/home/circle006.png" alt="">
                </a>
                <div class="mainVisual__logo pc-only"><img src="/images/home/logo003.png" alt=""></div>
                <div class="mainVisual__circle pc-only">
                    <p class="mainVisual__circle-txt">
                        We execute what you envision, giving form and protection to families' assets, assuring a strong
                        and prosperous future.<br /><br />

                        With a combined 100+ years of experience in legacy planning, complemented by an access to
                        best-in-class specialists, we are your trusted partner to assure a lasting legacy for your
                        family.
                    </p>
                    <img src="/images/home/logo004.png" alt="" class="mainVisual__circle-img">
                </div>
            </div>
        </div>
        {% include './components/_expertise-indepen.html' %}
        {% include './components/_expertise-meaning.html' %}
        {% include './components/_expertise-transfer.html' %}
        {% include './components/_expertise-global.html' %}
        {% include './components/_expertise-bespoke.html' %}
        
    </div>
   
	{% include './components/_footer.html' %}
</body>

</html>