{% include './components/_header.html' %}

<body class="page-index">
	<!-- header -->
	{% include './components/_top-menu.html' %}
	<!-- index -->
	<div class="index">
		<div class="">
			<div class="mainVisual mainVisual--banner1">
				<div class="mainVisual__banner" style="background-image:url(/images/home/img001.jpg)">
					<video autoplay muted loop playsinline id="vid">
						<source src="http://13.229.128.201/frontend/images/homepage.mp4" type="video/mp4">
					</video>
				</div>
				<p class="mainVisual__txt typing" data-text="Grow. Preserve. Transfer."></p>
				<a href="#" class="mainVisual__btn">
					<img src="/images/home/circle001.png" alt="">
					<img src="/images/home/circle002.png" alt="">
				</a>
				<div class="mainVisual__logo">
					<img src="/images/home/logo003.png" alt="">
				</div>
				<div class="mainVisual__circle pc-only">
					<p class="mainVisual__circle-txt">
						We execute what you envision, giving form and protection to families' assets, assuring a strong
						and prosperous future.<br /><br />

						With a combined 100+ years of experience in legacy planning, complemented by an access to
						best-in-class specialists, we are your trusted partner to assure a lasting legacy for your
						family.
					</p>
					<img src="/images/home/logo004.png" alt="" class="mainVisual__circle-img">
				</div>
			</div>
			<!-- <div class="mainVisual mainVisual--banner2">
				<div class="mainVisual__banner"  style="background-image:url(/images/establishment/img006.jpg)"></div>
				<p class="mainVisual__txt" data-text="To The
					Next Generation
					Leaders."></p>
				<a href="#" class="mainVisual__btn">
					<img src="/images/home/circle001.png" alt="">
					<img src="/images/home/circle002.png" alt="">
				</a>
				<div class="mainVisual__logo pc-only"><img src="/images/home/logo003.png" alt=""></div>
				<div class="mainVisual__circle pc-only">
					<p class="mainVisual__circle-txt">
						We execute what you envision, giving form and protection to families' assets, assuring a strong
						and prosperous future.<br /><br />

						With a combined 100+ years of experience in legacy planning, complemented by an access to
						best-in-class specialists, we are your trusted partner to assure a lasting legacy for your
						family.
					</p>
					<img src="/images/home/logo004.png" alt="" class="mainVisual__circle-img">
				</div>
			</div>
			<div class="mainVisual mainVisual--banner3">
				<div class="mainVisual__banner"  style="background-image:url(/images/expertise/img001-1.jpg)"></div>
				<p class="mainVisual__txt" data-text="Where a Strong & Prosperous
				Future Begins."></p>
				<a href="#" class="mainVisual__btn">
					<img src="/images/home/circle001.png" alt="">
					<img src="/images/home/circle002.png" alt="">
				</a>
				<div class="mainVisual__logo pc-only"><img src="/images/home/logo003.png" alt=""></div>
				<div class="mainVisual__circle pc-only">
					<p class="mainVisual__circle-txt">
						We execute what you envision, giving form and protection to families' assets, assuring a strong
						and prosperous future.<br /><br />

						With a combined 100+ years of experience in legacy planning, complemented by an access to
						best-in-class specialists, we are your trusted partner to assure a lasting legacy for your
						family.
					</p>
					<img src="/images/home/logo004.png" alt="" class="mainVisual__circle-img">
				</div>
			</div> -->
		</div>
		<!-- section -->
		{% include './components/_index-our-philosophy.html' %}
		{% include './components/_index-principles.html' %}
		{% include './components/_index-next-generation.html' %}
		{% include './components/_index-you.html' %}
		{% include './components/_index-about.html' %}
		{% include './components/_index-career.html' %}
  
  <!-- Modal -->
  <div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
	  <div class="modal-content">
		<div class="modal-body">
			{% include './components/_disclaimer.html' %}
		</div>
	  </div>
	</div>
  </div>
		<div id="flag-loading"></div>
		<script>
			if(!sessionStorage.getItem('logged')){
				document.getElementById('flag-loading').innerHTML = '<div id="loading"><img class="first" src="/images/loading.svg"/><img class="second" src="/images/loading-logo.png"><img class="last" src="/images/loading-text.svg"></div>';
			}
		</script>
	</div>
	<!-- footer -->
	{% include './components/_footer.html' %}
</body>

</html>