{% include './components/_header.html' %}

<body>
	<!-- header -->
    {% include './components/_top-menu.html' %}
    
<!-- policy -->
    <div class="policy policy__page">
        <div class="policy__container">
            <h3 class="title2">Terms of use</h3>
            <div class="policy__txt">
                This web site (the "Site") is owned and operated by Envysion Wealth Management Pte Limited. ("Envysion Wealth", "we", "us" or "our").The use of this Site and the content and information available on this Site (collectively the "Services") shall be subject to acceptance of and compliance with the terms and conditions set forth in these terms of use (collectively, the "Terms of Use") and elsewhere on this Site. The terms "you," "your", "yours", "member" "members" and "yourself" refer to all visitors/members to this Site. Your agreement to comply with and be bound by these Terms of Use is deemed to occur upon your first use of the Site. If you do not agree to these Terms of Use, you should not review information or obtain goods, services or products from this Site. Envysion Wealth Management has the total right to edit or delete any content in the Site, including this Agreement, without notifying you.<br/>
                USE OF THIS SITE
                You agree not to:-<br/>
                (a) reproduce, copy, distribute, modify, publish, transmit, display, use, reuse, re-publicize, assign, sublicense, sell, or exploit for any public or commercial purposes, any portion of the Site, use of the Site, or access to the Site.<br/>
                (b) attempt to change, add, remove, deface, hack or otherwise interfere with this Site or any material or content displayed on this Site; and/or<br/>
                (c) access or use this Site in any way that could or is intended to damage or impair the Site, or any server or network underlying the Site, or interfere with anyone else's use and enjoyment of the Site.<br/>
                <div class="policy__title">USE OF INFORMATION</div>
                We have a group privacy policy which sets out how we handle personal data that you may provide or that we may collect, in connection with your access or use of this website. The policy is available on this website. You accept and agree to the terms set out in the policy and consent to the collection, use and disclosure of your personal data in accordance with the policy.<br/>
                <div class="policy__title">DISCLAIMER AND EXCLUSION OF LIABILITY</div>
                1. This Site, the Services, the information on this Site and use of all related facilities are provided on an "as is, as available" basis without any warranties whether express or implied.<br/>
                2. To the fullest extent permitted by applicable law, we disclaim all representations and warranties relating to this Site and its contents, including in relation to any inaccuracies or omissions in this Site, warranties of merchantability, quality, fitness for a particular purpose, accuracy, availability, noninfringement or implied warranties from course of dealing or usage of trade.<br/>
                3. We do not warrant that this Site will always be accessible, uninterrupted, timely, secure, error free or free from computer virus or other invasive or damaging code or that this Site will not be affected by any Acts of God or other force majeure events, including inability to obtain or shortage of necessary materials, equipment facilities, power or telecommunications, lack of telecommunications equipment or facilities and failure of information technology or telecommunications equipment or facilities.<br/>
                4. While we may use reasonable efforts to include accurate and up-to-date information on this Site, we make no warranties or representations as to its accuracy, timeliness or completeness. WE SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, HOWSOEVER CAUSED, RESULTING FROM YOUR ACCESS TO, USE OF OR INABILITY TO USE, RELIANCE ON OR DOWNLOADING FROM THE SITE, OR ANY DELAYS, INACCURACIES IN THE INFORMATION OR IN ITS TRANSMISSION INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOSS OF BUSINESS OR PROFITS, USE, DATA OR OTHER INTANGIBLE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.<br/>
                5. The above exclusions and limitations apply only to the extent permitted by law. None of your statutory rights as a consumer that cannot be excluded or limited are affected.<br/>
                6. Notwithstanding our efforts to ensure that our Site/system is secure, you acknowledge that all electronic data transfers are potentially susceptible to interception by others. We cannot, and do not warrant that data transfers pursuant to this Site, or electronic mail transmitted to and from us, will not be monitored or read by others.<br/>
                7. Although we use reasonable endeavours to ensure that any software made available on this Site is suitable for downloading, installation and use by you, all such software is provided "as is" without any warranty. Specifically, and without limitation, we do not warrant that any such software is virus free, without defects, compatible with other software or operating systems or suitable for any specific purpose. We accept no liability for any loss or damage caused by the downloading, installation or use of any such software, and the general exclusions and limitations above apply to such downloading, installation or use by you.<br/>
                <div class="policy__title">LINKS TO THIS SITE</div>
                You may not create a link to any page of this Site without our prior written consent. If you do create a link to a page of this Site, you do so at your own risk and these Terms of Use will apply to your use of this Site by linking to it.<br/>
                <div class="policy__title">INTELLECTUAL PROPERTY RIGHTS</div>
                All editorial content, information, photographs, illustrations, artwork and other graphic materials, and names, logos and trademarks on this Site are protected by copyright laws and/or other laws and/or international treaties, and belong to us and/or our suppliers, as the case may be. These works, logos, graphics, sounds or images may not be copied, reproduced, retransmitted, distributed, disseminated, sold, published, broadcast or circulated whether in whole or in part, unless expressly permitted by us and/or our suppliers, as the case may be.<br/>
                Nothing contained on the Site should be construed as granting by implication, estoppel, or otherwise, any license or right to use any trademark displayed on the Site without our written permission. Misuse of any trademarks or any other content displayed on the Site is prohibited.<br/>
                We will not hesitate to take legal action against any unauthorised usage of its trade marks, name or symbols to preserve and protect its rights in the matter. All rights not expressly granted herein are reserved. Other product and company names mentioned herein may also be the trademarks of their respective owners.<br/>
                <div class="policy__title">CHANGES TO TERMS OF USE</div>
                These Terms of Use may be modified from time to time. Any modifications to these Terms of Use will be effective upon posting. You should therefore read these Terms of Use before you place any order. Your continued use of the Site after any modifications to the Terms of Use indicates your acceptance of the modified Terms of Use<br/>
                <div class="policy__title">GOVERNING LAW AND JURISDICTION.</div>
                This Site may be accessed from all countries around the world where the local technology permits. As each country has differing laws, by accessing this Site both we and you agree that the laws of the Republic of Singapore, without regard to the conflict of laws principles thereof, will apply to all matters relating to these Terms of Use.<br/>
                You accept and agree to submit to the exclusive jurisdiction of the courts of the Republic of Singapore in respect of any dispute or difference arising out of and/or in connection with these Terms of Use.<br/>
                    
            </div>
        </div>
    </div>

	{% include './components/_footer.html' %}
</body>

</html>