/*--------------------------------------------------
engage
---------------------------------------------------*/
.engage {
    padding:16.1% 0 0;

    @media(max-width: 920px) {
        padding: 160px 0 0;
    }

    &__inner {
        width: 61%;
        margin: 0 auto;
        padding-bottom: 15%;
        @media(max-width:1200px){
            width:80%;
        }
        @media(max-width: 920px) {
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }

    &__logo {
        width: 71.7%;
        margin: 0 0 10%;

        @media(max-width: 920px) {
            width: 50%;
            margin: 0 auto 5%;
        }
    }

    &__txt {
        width: calc(42.7% - 6px);
        display: inline-block;
        vertical-align: top;

        @media(max-width: 920px) {
            width: 100%;
            margin: 0;
        }
    }

    &__map {
        position: relative;
        width: 57.3%;
        display: inline-block;
        vertical-align: top;

        @media(max-width: 920px) {
            width: 100%;
            margin-bottom:40px;
            padding-left:20px;
            padding-right:20px;
        }

        iframe {
            position: absolute;
            z-index: 1;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
        }
    }

    &__map-inner {
        padding-top: 61%;
        position: relative;
        @media(max-width:920px){
            padding-top:52%;
        }
    }

    &__list {
        @media(max-width: 920px) {
            padding: 0 5.5%;
        }
    }

    &__list-item {
        display: flex;
        margin: 0 0 5%;

        @media(max-width: 920px) {
            flex-wrap: wrap;
            margin-bottom:40px;
        }
    }

    &__list-ttl {
        font-family: $cormorant-regular;
        font-weight: normal;
        line-height: 120%;
        width: 27%;
        font-size: 1.3vw;
        color: #024644;

        @media(max-width:1300px){
            font-size:18px;
        }

        @media(max-width: 920px) {
            margin: 0 0 1%;
            width: 100%;
            font-size: 18px;
            line-height: 120%;
        }
    }

    &__list-txt {
        font-family: $lato-light;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        width: 73%;
        font-size: .86vw;
        padding-right: 13%;
        color: #004543;

        @media(max-width:1300px){
            font-size: 14px;
            padding-right:10px;
        }

        @media(max-width: 920px) {
            font-size: 14px;
            line-height: 120%;
            width: 100%;
        }
    }

    &__crossbar {
        width: 168px;
        margin: 0 auto;
        padding: 26px 0 35px;
    }

    &__banner {
        position: relative;
        background: url(/frontend/images/engage/img003.jpg) top center no-repeat;
        background-size: cover;
        padding: 0 0 20%;

        @media(max-width: 920px) {
            padding: 15% 0;
            background:#024644;
        }

        .imgText1 {
            flex-direction: row-reverse;

            &__img {
                margin-right: 0;
                margin-left: 12.5%;

                @media(max-width: 920px) {
                    margin: 0;
                }
            }

            &__img-main {
                position: absolute;
                top: 29%;
                left: -11%;
                width: 92%;
                z-index: 1;

                @media(max-width: 920px) {
                    left: 4%;
                }
            }

            &__img-circle {
                position: relative;
                left: 28%;

                @media(max-width: 920px) {
                    left: 35%;
                }
            }

            &__img-quarter {
                left: -7%;
                top: 21%;

                @media(max-width: 920px) {
                    left: 8%;
                }
            }

            &__img-inner {
                position: relative;
                top: -24px;
                img{
                    border-radius: 50%;
                }
                @media(max-width: 920px) {
                    width: 80%;
                    margin: 0 auto;
                }
            }

            &__content {
                @media(max-width: 920px) {
                    margin:38% 0 0;
                    padding: 0 5.5%;
                }
            }

            &__content-txt {
                @media(max-width: 920px) {
                    font-size: 14px;
                    line-height: 120%;
                }
            }
        }
    }
    .imgText1__content .title1{
        font-family: 'CormorantGaramond';
        font-weight: 300;
        margin-bottom: 18%;
        @media(max-width:920px){
            margin-bottom:20px;
        }
    }
    .imgText1__content-txt{
        font-family: 'Lato';
        font-weight: 300;
    }
    .engage__banner .imgText1__img-quarter{
        left: -3%;
        top: 21%;
        padding-top: 101%;
        @media(max-width:920px){
            left:11%;
        }
    }
}

.page-engage {
    .mb-only{
        display: none;
        @media(max-width: 920px){
            display: block;
        }
    }

    .engage__banner .imgText1__content{
        transform: translate(8%, 0px);
        @media(max-width:920px){
            transform: translate(0,0)
        }
    }
}