/*--------------------------------------------------
establishment
---------------------------------------------------*/
.page-establishment {

    .mainVisual {

        @media(max-width: 920px) {
            height: auto;
        }

        &.is-scroll {
            height: 100%;

            @media(max-width: 920px) {
                height: auto;
            }
        }
    }
}

.establishment {
    overflow: hidden;

    .leadership {
        padding: 4.7% 0 6.5%;

        @media(max-width: 920px) {
            padding: 12% 0;
        }

        &__crossbar {
            width: 168px;
            margin: 0 auto;
            padding: 43px 0 106px;
        }

        .title2 {
            margin: 0 0 45px;
            margin-bottom: 2.4%;

            @media(max-width: 920px) {
                margin: 0 0 14px;
            }
        }

        .imgText2 {
            &__content {
                padding-right: 7.82%;

                @media(max-width: 920px) {
                    padding: 0 5.5%;
                }
            }

            &__content-txt {
                line-height: 31px;
                font-size: 1.25vw;
                line-height: 120%;

                @media(max-width: 920px) {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 120%;
                }
            }
            &__img-quarter {
                @media(max-width: 920px) {
                    top: 2%;
                }
            }
        }
    }

    .profile {
        background: #024644;
        padding: 153px 0 0;
        padding-top: 7.89%;

        @media(max-width: 920px) {
            padding: 77px 0 0;
        }

        .title1 {
            margin-bottom: 44px;
            margin-bottom: 2.2%;

            @media(max-width: 920px) {
                margin-bottom: 22px;
            }
        }

        &__slide1 {
            margin: 0 auto;
            height: auto;

            .slick-list {
                padding: 0 4.7%;

                @media(max-width: 920px) {
                    padding: 0;
                }
            }
        }

        &__slide1-main {
            display: none;
        }

        &__slide1-item {
            margin: 0 20px;
            margin: 0 .23%;
            height: 48%;
            cursor: pointer;
            &:hover .profile__slide1-inner{
                opacity: 1;
            }

            @media(max-width: 920px) {
                height: auto;
                margin: 0;
            }

            &.slick-current {
                >.profile__slide1-inner {
                    width: 67%;
                    transition: all .3s .1s;
                    opacity: 1;

                    @media(max-width: 920px) {
                        width: 80%;
                    }

                    &:after {
                        content: none;
                    }

                    >.profile__slide1-img {
                        display: block;
                        position: absolute;
                        width: 134%;
                        top: 25%;
                        left: 19%;

                        @media(max-width: 920px) {
                            display: block;
                            position: initial;
                            width: 100%;
                            top: 35%;
                            left: 20%;
                        }
                    }

                    >.profile__slide1-main {
                        display: block;

                        @media(max-width: 920px) {
                            display: none;
                        }
                    }
                }
            }
        }

        &__slide1-img {
            @media(max-width: 920px) {
                display: block;
                position: initial;
                width: 100%;
                top: 35%;
                left: 20%;
            }
        }

        &__slide1-main {
            @media(max-width: 920px) {
                display: none;
            }
        }

        &__slide1-inner {
            width: 41.7%;
            position: relative;
            margin: 0 auto;
            transition: none;
            opacity: 0.5;

            @media(max-width:920px) {
                width: 80%;
            }

            // &:after {
            //     content: '';
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     border-radius: 100%;
            //     background: rgba(2, 70, 68, .5);
            //     top: 0;
            //     left: 0;

            //     @media(max-width: 920px) {
            //         content: none;
            //     }
            // }
        }

        &__slide2 {
            margin-top: 108px;
            margin-top: 5.6%;

            @media(max-width: 920px) {
                margin-top: 54px;
            }
        }

        &__slide2-item {

            >div{
                @media(max-width:920px){
                    position: relative;
                    padding-top:86%;
                    height: 0;
                }
            }

            .pc-only {
                display: block !important;

                @media(max-width: 920px) {
                    display: none !important;
                }
            }

            .mb-only {
                display: none !important;

                @media(max-width: 920px) {
                    display: block !important;
                }
            }

            img{
                @media(max-width:920px){
                    position: absolute;
                    z-index: 1;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    width:100%;
                }
            }
        }

        &__slide3 {
            width: 60%;
            margin: -8% auto 0 33%;
            position: relative;
            z-index: 999;

            @media(max-width: 920px) {
                width: 100%;
                margin: 0;
                padding: 0 5.5%;
            }
        }

        &__slide3-info {
            margin: 0 0 5%;
            
            @media(max-width: 920px){
                text-align: center;
                margin: 10px 0;
            }
        }

        &__slide3-name {
            font-family: $cormorant-regular;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 110%;
            color: #DEAB52;
            font-size: 1.88vw;
            line-height: 110%;        

            @media(max-width: 920px) {
                font-size: 18px;
                line-height: 140%;
            }
        }

        &__slide3-position {
            font-family: $lato-light;
            font-style: normal;
            font-weight: 300;
            font-size: 1.25vw;
            line-height: 120%;
            color: #ffffff;

            @media(max-width: 920px) {
                font-size: 14px;
                line-height: 120%;
            }
        }

        &__slide3-content {
            font-family: $lato-light;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            font-size: .72vw;
            line-height: 140%;
            color: #fff;
            // display: flex;
            // justify-content: space-between;

            @media(max-width: 920px) {
                flex-wrap: wrap;
            }

            p {
                width: 100%;

                @media(max-width: 920px) {
                    width: 100%;
                }
            }
        }

        &__slide3-item {
            height: auto;
        }
    }
}