/*--------------------------------------------------
expertise
---------------------------------------------------*/
.expertise {
    &__meaning-button{
        margin-top:20px;
    }
    &__btn {
        width: 160px;
        width: 8.34%;
        margin: 0 auto;
        cursor: pointer;
        transition: all .3s;
        position: relative;

        img {
            transition: all .3s;
        }

        img:last-child {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &:hover {
            opacity: 0.8;
            img:last-child {
                opacity: 1;
            }
        }

        @media(max-width: 920px) {
            width: 100px;
            margin-top:30px;
        }
    }

    .indepen {
        background: #024644;
        padding: 5.2% 0 7.6%;

        @media(max-width: 920px) {
            padding: 50px 0 73px;
        }

        &__slide {
            width: 61.5%;
            padding: 0;
            margin: 0 auto;

            @media(max-width: 920px) {
                width: 85%;
            }

            .slick {
                &-prev {
                    display: none !important;
                }

                &-next {
                    width: 7.65%;
                    height: 70%;
                    z-index: 1;
                    right: -12%;
                    transition: all .3s ease-in-out;

                    @media(max-width: 920px) {
                        display: none !important;
                    }

                    &:before {
                        content: url(/frontend/images/expertise/arrow-right.png);
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                    }
                }
            }
        }

        .title2 {
            font-family: $lato-light;
            text-transform: lowercase;
            color: #DEAB52;
            padding: 0 0 5.6%;
            transition: all .75s ease-in-out .1s;
            @media(max-width: 920px) {
                padding: 0 0 25px;
                font-size: 36px;
                line-height: 43px;
            }
        }

        .imgText1 {
            width: 100%;
            padding-bottom: 12.5%;

            @media(max-width: 920px) {
                padding-bottom: 0;
            }

            &__img {
                margin-right: 0;
            }

            &__img-inner {
                top: 0;
                img{
                    border-radius: 50%;
                }

                @media(max-width: 920px) {
                    margin: 0 0 27px;
                    width: 80%;
                    left:50%;
                    transform: translate(-50%,0);
                }
            }

            &__img-main {
                position: absolute;
                top: 20%;
                left: 14%;
                width: 61%;
                z-index: 1;
                border-radius: 50%;

                @media(max-width: 920px) {
                    display: none;
                }
            }

            &__content-txt {
                span {
                    color: #DEAB52;
                }
            }

            &__content-ttl {
                color: #DEAB52;
                font-family: 'CormorantGaramond';
                font-weight: normal;

                @media(max-width: 920px) {
                    text-align: center;
                }
            }

            &__img-circle {
                width: 49%;

                @media(max-width: 920px) {
                    display: none;
                }
            }

            &__img-mb {
                display: none;

                @media(max-width: 920px) {
                    display: block;
                }
            }
        }

        &__slide-item {
            height: auto;
        }

        &__crossbar {
            width: 505px;
            margin: 0 auto;

            @media(max-width: 920px) {
                width: 168px;
            }

            &:last-child {
                padding-top: 100px;

                @media(max-width: 920px) {
                    padding-top: 50px;
                }
            }
        }

        &__txt {
            color: #fff;
            text-align: center;
            font-family: $cormorant-regular;
            font-style: normal;
            font-weight: normal;
            line-height: 120%;
            margin: 100px 0 110px;
            padding: 0 5%;
            margin: 5.3% 0 4.9%;
            font-size: 1.25vw;

            @media(max-width: 920px) {
                font-size: 18px;
                line-height: 120%;
                margin: 50px 0;
                margin-top:30px;
                text-align: left;
            }
        }

        &__btn {
            padding-bottom: 80px;
        }

        &__list {
            display: none;
        }

        &__list-ttl {
            font-family: $lato-light;
            font-style: normal;
            font-weight: 300;
            font-size: 64px;
            line-height: 77px;
            font-size: 3.34vw;
            line-height: 120%;
            color: #E0E0E0;
            text-align: center;
            margin: 4.2% 0 5.8%;
            text-transform: capitalize;

            @media(max-width: 920px) {
                font-size: 36px;
                line-height: 43px;
                margin: 60px 0 30px;
            }
        }

        &__list-inner {
            display: flex;
            width: 80%;
            margin: 0 auto;
            flex-wrap: wrap;
            padding: 0 0 30px;
            padding-bottom: 1.55%;

            @media(max-width: 920px) {
                width: 100%;
            }
        }

        &__list-item {
            width: 25%;
            position: relative;

            @media(max-width: 920px) {
                width: 50%;
            }
        }

        &__list-txt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: $cormorant-regular;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            font-size: 1.88vw;
            line-height: 110%;
            color: #A78456;
            text-align: center;
            text-transform: capitalize;

            @media(max-width: 920px) {
                font-size: 24px;
                line-height: 120%;
                color: #fff;
            }
        }
    }

    .meaning {
        background: #024644;
        padding-bottom: 6.2%;

        @media(max-width: 920px) {
            padding-bottom: 50px;
        }

        .title1 {
            color: #E0E0E0;
            margin: 0 0 80px;
            margin-bottom: 4.2%;

            @media(max-width: 920px) {
                margin: 0 0 30px;
            }
        }

        &__slide-item {
            height: auto;
        }

        .imgText1 {
            width: 61.5%;
            padding: 0 0 12.5%;

            @media(max-width: 920px) {
                width: 85%;
            }

            &__img {
                margin-right: 0;

                @media(max-width: 920px) {
                    margin-bottom: 27px;
                }
            }

            &__img-inner {
                top: 0;
                img{
                    border-radius: 50%;
                }
                @media(max-width:920px){
                    width:80%;
                    left:50%;
                    transform: translate(-50%,0);
                }
            }

            &__img-mb {
                display: none;

                @media(max-width: 920px) {
                    display: block;
                }
            }

            &__img-main {
                position: absolute;
                top: 20%;
                left: 14%;
                width: 61%;
                z-index: 1;
                border-radius: 50%;

                @media(max-width: 920px) {
                    display: none;
                }
            }

            &__content-txt {
                span {
                    color: #DEAB52;
                }

                @media(max-width: 376px) {
                    font-size: 20px;
                }
            }

            &__content-ttl {
                color: #DEAB52;
                font-family: $cormorant-regular;

                @media(max-width: 920px) {
                    font-size: 24px;
                    line-height: 120%;
                    text-align: center;
                }

                @media(max-width: 376px) {
                    font-size: 19px;
                }
            }

            &__img-circle {
                width: 49%;

                @media(max-width: 920px) {
                    display: none;
                }
            }
        }

        &__list {
            display: flex;
            width: 85%;
            margin: 0 auto;
            list-style: none;
            padding: 0 0 107px;
            justify-content: space-between;
            padding-bottom: 5.6%;

            @media(max-width: 920px) {
                width: 95%;
                padding: 0;
            }
        }

        &__list-item {
            width: 19%;
            text-align: center;
            color: #fff;

            @media(max-width: 920px) {
                margin-right: 0;
                width: 100%;
                margin: 0 10px;
                height: auto;
            }
        }

        &__list-img {
            margin: 0 0 45px;
            margin: 0 0 14.55%;

            @media(max-width: 920px) {
                margin: 0 0 16px;
            }

            img {
                width: auto;
                transform: scale(0.5);

                @media(max-width: 920px) {
                    margin: 0 auto;
                }
            }
        }

        &__list-ttl {
            font-family: $cormorant-regular;
            font-weight: normal;
            font-size: 24px;
            line-height: 120%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 37px;
            height: 56px;
            color: #DEAB52;
            font-size: 1.25vw;
            margin: 0 0 12%;

            @media(max-width: 920px) {
                margin: 0 0 10px;
                font-size: 18px;
                line-height: 140%;
            }
        }

        &__list-txt {
            font-family: 'Lato';
            font-weight: 300;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            color: #E0E0E0;
            font-size: .93vw;

            @media(max-width: 920px) {
                font-size: 12px;
                line-height: 140%;
            }
        }

        &__list-item:last-child {
            margin-right: 0;
        }
    }

    .transfer {
        position: relative;

        @media(max-width: 920px) {
            background: #024644;
        }

        .title1 {
            position: absolute;
            top: 10.4%;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            font-family: $cormorant-light;
            font-weight: 300;
            font-style: normal;

            @media(max-width: 920px) {
                width: auto;
                text-align: left;
                position: initial;
                transform: none;
                background: url(/frontend/images/expertise/img003-mb.jpg) top center no-repeat;
                background-size: cover;
                padding: 16% 6.5%;
                font-size: 10vw;
                line-height: 120%;
            }
        }

        &__content {
            position: absolute;
            top: 28%;
            left: 19.3%;
            width: 42.71%;

            @media(max-width: 920px) {
                position: initial;
                width: 100%;
                padding: 0 5%;
                padding: 30px 5%;
            }
        }

        &__ttl {
            font-family: $cormorant-regular;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 110%;
            color: #DEAB52;
            margin: 0 0 3.1%;
            font-size: 1.88vw;

            @media(max-width: 920px) {
                font-size: 24px;
                line-height: 120%;
            }
        }

        &__txt {
            font-family: $lato-light;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 140%;
            color: #E0E0E0;
            font-size: 1.25vw;

            @media(max-width: 920px) {
                font-size: 20px;
                line-height: 140%;
                font-size:14px;
            }
        }

        .expertise__btn {
            position: absolute;
            top: 75.5%;
            left: 19.3%;
            width: 8.34%;

            @media(max-width: 920px) {
                position: initial;
                width: 100px;
                padding-bottom: 60px;
            }
        }
    }

    .global {
        position: relative;

        @media(max-width: 920px) {
            background: #E0E0E0;
            padding-bottom:30px;
        }

        &__content {
            position: absolute;
            top: 16.5%;
            left: 49.4%;
            width: 37.25%;

            @media(max-width: 920px) {
                position: initial;
                width: 100%;
            }
        }

        &__ttl {
            font-family: $cormorant-light;
            font-style: normal;
            font-weight: 300;
            font-size: 64px;
            line-height: 78px;
            color: #024644;
            text-transform: capitalize;
            font-size: 3.34vw;
            line-height: 120%;
            margin: 0 0 14.1%;

            @media(max-width: 920px) {
                width: auto;
                text-align: left;
                position: initial;
                transform: none;
                background: url(/frontend/images/expertise/img004-mb.png) top center no-repeat;
                background-size: cover;
                padding: 16% 6.5%;
                font-size: 10vw;
                line-height: 120%;
                text-align: right;
            }
        }

        &__txt {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 140%;
            font-size: 1.25vw;
            color: #024644;

            @media(max-width: 920px) {
                font-size: 14px;
                line-height: 140%;
                padding: 0 5%;
            }
        }

        .expertise__btn {
            position: absolute;
            top: 67.8%;
            left: 78.6%;
            width: 8.34%;

            @media(max-width: 920px) {
                position: relative;
                top:0;
                left:0;
                width: 100px;
                margin: 30px auto;
                margin-bottom:0;
            }
        }
    }

    .bespoke {
        background: #024644;
        padding: 142px 0 87px;
        padding: 7.4% 0 87px;

        @media(max-width: 920px) {
            padding: 60px 0;
        }

        .title1 {
            color: #E0E0E0;
            margin: 0 0 80px;
            margin: 0 0 3.3%;

            @media(max-width: 920px) {
                margin: 0 0 30px;
            }
        }

        .imgText1 {
            width: 61.5%;
            padding: 0 0 11.3%;

            @media(max-width: 920px) {
                width: 85%;
            }

            &__img {
                margin-right: 0;
            }

            &__img-mb {
                display: none;
                border-radius: 50%;

                @media(max-width: 920px) {
                    display: block;
                }
            }

            &__img-inner {
                width: 99%;
                top: -17px;

                @media(max-width: 920px) {
                    margin-bottom: 27px;
                    top: 0;
                    width:80%;
                    left:50%;
                    transform: translate(-50%,0);
                }
            }

            &__img-main {
                position: absolute;
                top: 20%;
                left: 14%;
                width: 61%;
                z-index: 1;
                border-radius: 50%;

                @media(max-width: 920px) {
                    display: none;
                }
            }

            &__content {
                padding: 9.4% 0 0 0;
                position: relative;
                left: -9%;
                
                @media(max-width: 920px) {
                    padding: 0;
                    left: 0;
                }
            }

            &__content-txt {

                @media(max-width: 920px) {
                    font-size: 18px;
                    line-height: 140%;
                }

                span {
                    color: #DEAB52;
                }
            }

            &__content-ttl {
                color: #DEAB52;
                font-family: $cormorant-regular;
                margin: 0 0 5%;
                font-size: 1.88vw;
                line-height: 110%;
                white-space: nowrap;

                @media(max-width: 920px) {
                    font-size: 24px;
                    line-height: 120%;
                    text-align: center;
                    white-space: pre-wrap;
                }
            }

            &__img-circle {
                width: 49%;

                @media(max-width: 920px) {
                    display: none;
                }
            }
        }

        &__img {
            width: 44.28%;
            margin: 0 auto;
            margin-bottom: 94px;
            margin-bottom: 5%;

            @media(max-width: 920px) {
                width: 85%;
                margin: 0 auto 47px;
            }
        }
    }
}