/*--------------------------------------------------
index
---------------------------------------------------*/
.index {
    background: #024644;
    
    .philosophy__slide-img {

        img{
            border-radius: 50%;
        }
    }
    .slick-center {
        .philosophy__slide-img {
            transform: scale(2);

            img{
                border-radius: 50%;
            }
            @media(max-width: 920px) {
                transform: none;
            }

            &:before {
                content: none;
            }
        }

        .philosophy__slide-content {
            opacity: 1;
        }
    }

    .philosophy {
        position: relative;
        overflow: hidden;

        @media(max-width: 920px) {
            padding: 20px 0 75px;
        }

        &__expand{
            display: none;
            @media(max-width:920px){
                display: block;
                font-family: 'Lato';
                font-weight: 300;
                font-size:12px;
                color:$white-color;
                margin-top:5px;
                cursor: pointer;
            }
        }

        &__circle {
            position: absolute;
            top: -34%;
            right: 0;
            width: 44.55%;
        }

        &__crossbar {
            width: 168px;
            margin: 0 auto;
        }

        &__desc {
            display: none;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            color: #fff;
            padding: 0 5%;
            position: relative;

            img {
                width: 12px;
            }

            &-arrow {
                display: block;
                text-align: center;
                margin-top: 30px;
                display: none;
                img{
                    width:12px;
                }
            }
        }

        &__logo {
            text-align: center;
            position: relative;

            img {
                margin-bottom:25px;
                width: 115px;
            }

            &-arrow {
                img {
                    width: 12px;
                    -moz-animation: bounce 2s infinite;
                    -webkit-animation: bounce 2s infinite;
                    animation: bounce 2s infinite;
                }
            }
        }

        &__content {
            height: auto;

            &-inner {
                position: relative;
                padding: 6.8% 24% 0 24%;
                text-align: center;

                @media(max-width: 920px) {
                    padding: 20px 5.5% 35px;
                }

                p {
                    font-family: $cormorant-regular;
                    font-weight: normal;
                    font-size: 36px;
                    line-height: 110%;
                    color: #fff;
                    font-size: 1.88vw;

                    @media(max-width: 920px) {
                        font-size: 24px;
                        line-height: 120%;
                    }

                    &:not(:last-child) {
                        margin: 0 0 42px;

                        @media(max-width: 920px) {
                            margin: 0 0 21px;
                        }
                    }
                }
            }



            &-quote {
                position: absolute;
                top: 1%;
                left: 13.5%;
                width: 8.34%;
            }

            &-logo {
                position: absolute;
                width: 2%;
                top: 40%;
                left: 14%;
            }
        }

        &__slide {
            $slide: &;
            width: 74%;
            margin: 0 auto;
            margin-bottom: 4.85%;

            @media(max-width: 920px) {
                width: 100%;
                margin: 0 auto 75px;
            }

            .slick-center,
            .is-active {
                margin: 240px 0 0;
                margin-top: 2.16%;
                opacity: 1;

                @media(max-width: 920px) {
                    margin: 0;
                }
            }

            &-item {
                width: 240px;
                margin-top: 120px;
                height: auto;
                cursor: pointer;
                margin-top: 0.6%;
                opacity: 0.5;

                &:hover{
                    opacity: 1;
                }

                @media(max-width: 920px) {
                    margin-top: 0;
                    opacity: 1;
                }
            }

            &-img {
                width: 50.66%;
                position: relative;
                margin: 0 auto;

                @media(max-width: 920px) {
                    width: 85%;
                    margin-top: 0;
                }

                // &:before {
                //     content: '';
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;
                //     background: rgba(2, 70, 68, .5);
                //     border-radius: 100%;
                // }
            }

            &-content {
                text-align: center;
                margin: 154px 0 0;
                margin-top: 32.5%;
                opacity: 0;

                @media(max-width: 920px) {
                    margin: 16px 0 0;
                }
            }

            &-name {
                font-family: $cormorant-regular;
                font-size: 1.88vw;
                line-height: 110%;
                color: #DEAB52;
                margin: 0 0 3px;
                font-weight: 400;

                @media(max-width: 920px) {
                    font-size: 24px;
                    line-height: 120%;
                    margin: 0 0 6px;
                }
            }

            &-position {
                font-family: $cormorant-regular;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;
                font-weight: 400;
                font-size: 1.25vw;

                @media(max-width: 920px) {
                    font-size: 20px;
                    line-height: 120%;
                }
            }
        }

        .title1 {
            margin-top: 6.8%;

            @media(max-width: 920px) {
                margin-top: 30px;
            }
        }
    }

    .principles {
        padding: 0 0 24.3%;

        @media(max-width: 920px) {
            padding-left:20px;
            padding-right:20px;
            padding-bottom:0;
            margin: 0 0 60px;
        }

        .imgText1 {
            width: 91%;

            @media(max-width: 920px) {
                width: 100%;
            }

            &__img {

                .title1 {
                    @media(max-width: 920px) {
                        text-align: left;
                        margin: 0 0 12%;
                    }
                }
            }

            &__img-inner {
                img{
                    border-radius: 50%;
                }
                @media(max-width: 920px) {
                    top: 0;
                    left: 50%;
                    transform: translate(-65%, 0px);
                }
            }

            &__img-main {
                border-radius: 50%;
                img{
                    border-radius: 50%;
                }
                @media(max-width: 920px) {
                    width: 80%;
                }
            }

            &__img-circle {
                @media(max-width: 920px) {
                    width: 73.8%;
                }
            }

            &__img-quarter {
                @media(max-width: 920px) {
                    top: 26%;
                    left: 29%;
                    width: 70%;
                    padding-top: 90%;
                }
            }

            &__content {
                @media(max-width: 920px) {
                    width: 100%;
                    margin: 59% 0 0;
                    padding: 0;
                }
            }
        }

        &__crossbar {
            width: 168px;
            margin: 0 auto;
            padding: 154px 0;
        }
    }

    .generation {
        margin: 0 0 16%;
        text-align: center;
        padding: 0 10%;

        @media(max-width: 920px) {
            margin: 0;
            padding: 0 5.5% 60px;
            text-align: left;
        }

        .title1 {
            margin: 0 0 24px;

            @media(max-width: 920px) {
                text-align: left;
                margin: 0 0 12px;
            }
        }

        &__txt {
            font-family: $cormorant-regular;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 120%;
            color: #fff;
            width: 62%;
            margin: 0 auto;
            font-size: 1.25vw;

            @media(max-width: 920px) {
                width: 100%;
                font-size: 18px;
                line-height: 140%;
            }
        }
    }

    .you {
        &__banner {
            position: relative;

            @media(max-width: 920px) {
                position: relative;
                height: 55.75%;
            }
        }

        &__small{
            font-size:1em !important;
        }

        &__banner-txt {
            position: absolute;
            top: 50%;
            left: 13%;
            transform: translateY(-50%);

            @media(max-width: 920px) {
                text-align: center;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
            }

            p {
                font-family: $cormorant-regular;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 120%;
                color: #024644;
                font-size: $fs-l;

                @media(max-width: 920px) {
                    line-height: 120%;
                    font-size: 4.4vw;
                    font-size: 24px;
                }

                span {
                    font-family: $lato-light;
                    font-weight: 300;
                    font-size: 64px;
                    line-height: 77px;
                    display: inline-block;
                    margin: 6px 0 -5px;
                    font-size: 3.34vw;
                    line-height: 133%;
                    margin: 2.5% 0 -2.5%;

                    @media(max-width: 920px) {
                        line-height: 150%;
                        font-size: 7.2vw;
                        margin: 0 0 -17px;
                        font-size: 64px;
                        
                    }
                }
            }
        }

        &__banner-video {
            height: 28.65vw;
            overflow: hidden;
            position: relative;

            @media(max-width: 920px) {
                height: 100%;
            }

            video {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;

                @media(max-width: 920px) {
                    width: auto;
                    height: 100%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 1);
                background: linear-gradient(to right, rgba(255, 255, 255, 1) 27%, rgba(255, 255, 255, 0) 100%);

                @media(max-width: 920px) {
                    background: linear-gradient(to bottom, white 27%, rgba(255, 255, 255, 0) 100%);
                }
            }
        }

        &__slide {
            padding: 0 37px;
            background: #E0E0E0;

            @media(max-width: 920px) {
                padding: 0;
            }

            &-item {
                width: 610px;
                height: auto;
                background: #E0E0E0;
                padding: .54% 0.92%;
                @media(max-width:1600px){
                    padding-bottom:15px;
                }

                @media(max-width: 920px) {
                    height: auto;
                    padding: 1.2% 1.5% 1.2% .45%;
                }
            }

            &-ttl {
                font-family: $lato-regular;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 43px;
                letter-spacing: 2px;
                text-transform: capitalize;
                color: #024644;
                margin: 0 0 44px;
                font-size: 1.88vw;
                line-height: 120%;
                margin: 0 0 10%;

                @media(max-width: 920px) {
                    font-size: 24px;
                    line-height: 120%;
                    margin: 0 0 5.5%;
                }
            }

            &-txt {
                font-family: $cormorant-regular;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 120%;
                color: #024644;
                font-size: $fs-l;

                @media(max-width: 920px) {
                    letter-spacing: 1px;
                    font-size: 18px;
                    line-height: 140%;
                }
            }

            .slick {
                &-next {
                    right: 0;
                    height: 100%;
                    background: #E0E0E0;
                    width: 4.7%;
                    display: flex;
                    justify-content: center;

                    @media(max-width: 920px) {
                        width: 16%;
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 22px;
                        transform: rotate(180deg);
                        background: url(/frontend/images/home/arrow-prev.png) top center no-repeat;
                    }
                }

                &-prev {
                    left: 0;
                    height: 100%;
                    background: #E0E0E0;
                    width: 4.7%;
                    display: flex;
                    justify-content: center;
                    z-index: 1;

                    @media(max-width: 920px) {
                        display: none !important;
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 22px;
                        background: url(/frontend/images/home/arrow-prev.png) top center no-repeat;
                    }
                }
            }
        }
    }

    .about {
        background: #fff;
        padding: 131px 0 0;
        padding-top: 6.83%;

        @media(max-width: 920px) {
            padding: 97px 0 0;
        }

        .title2 {
            margin: 0 0 56px;
            margin-bottom: 6.52%;

            @media(max-width: 920px) {
                margin-bottom: 30px;
            }
        }

        .crossbar {
            width: 26.31%;
            margin: 0 auto;
            padding: 56px 0 23px;
            padding: 3% 0 1.1%;

            @media(max-width: 920px) {
                width: 168px;
                padding: 46px 0 61px;
            }
        }

        .imgText2 {
            &__img-main {
                top: 3%;
                border-radius: 50%;
                @media(max-width: 920px) {
                    top: 7%;
                }
            }

            &__img-quarter {
                top: 0;
                left: -5%;

                @media(max-width: 920px) {
                    top: 4%;
                    left: 10%;
                }
            }
        }

        .imgText2__img{
            transform: translate(0,-13%);
        }
    }

    .career {
        padding: 5.3% 0 12%;
        background: #fff;

        @media(max-width: 920px) {
            padding: 0 0 179px;
        }

        .title2 {
            margin: 0 0 -90px;
            margin-bottom: -4.5%;

            // @media(max-width: 1024px) {
            //     margin: 0;
            // }

            @media(max-width: 920px) {
                margin: 0 0 25px;
            }
        }

        .imgText1 {
            width: 90%;

            &__content {

                @media(max-width: 920px) {
                    padding: 0;
                }

                @media(max-width: 920px) {
                    width: 100%;
                    padding: 0 5.5%;
                }

                &-txt {
                    color: #024644;
                    font-family: $lato-light;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 140%;
                    margin: 0 0 25px;
                    font-size: 0.94vw;

                    @media(max-width: 920px) {
                        font-size: 14px;
                        line-height: 140%;
                        letter-spacing: 1px;
                        margin: 0 0 20px;
                    }
                }
            }

            &__img {
                width: 664px;

                @media(max-width: 920px) {
                    width: 100%;
                }

                &-circle {
                    top: -163px;
                    left: -148px;
                }

                .title1 {
                    @media(max-width: 920px) {
                        text-align: left;
                        margin: 0 0 12%;
                    }
                }
            }

            &__img-inner {
                @media(max-width: 920px) {
                    top: 0;
                    left: -24%;
                    transform: scale(0.8) translate(18%,0);
                }
            }

            &__img-main {
                border-radius: 50%;
                img{
                    border-radius: 50%;
                }
                @media(max-width: 920px) {
                    width: 99%;
                }
            }

            &__img-circle {
                @media(max-width: 920px) {
                    width: 73.8%;
                }
            }

            &__img-quarter {
                @media(max-width: 920px) {
                    top: 26%;
                    left: 29%;
                    width: 87%;
                    padding-top: 108%;
                }
            }

            &__content {
                @media(max-width: 920px) {
                    width: 100%;
                    margin: 62% 0 0;
                    padding: 0;
                }
            }
        }
    }
}