.about{
    .imgText2__content{
        @media(max-width:920px){
            padding:0 20px;
        }
    }
    .imgText2__content-txt{
        width: 77%;
        margin-left: 21%;
        font-size: 1vw;
        @media(max-width:920px){
            width:100%;
            margin-left:0;
            font-size:14px;
            line-height: 140%;
        }
    }
    .imgText2__content-txt:not(:last-child){
        margin-bottom:4%;
        @media(max-width:920px){
            margin-bottom:20px;
        }
    }
}