.career{
    overflow:hidden;
    .imgText1__content-txt{
        width: 67% !important;
        margin-left: 5% !important;
        font-size: 1vw !important;
        @media(max-width:920px){
            width:100% !important;
            margin-left:0 !important;
            font-size:14px !important;
            line-height: 140%;
        }

        strong{
            font-weight: 700;
        }
    }
    .imgText1{
        @media(max-width: 920px){
            padding:0 15px;
            width: 100% !important;
            margin:0 !important;
        }
    }
}