/*--------------------------------------------------
policy
---------------------------------------------------*/
.policy {

    .title2 {
        color: #F6881F;
        text-align: left;
        margin: 0 0 30px;
        font-size: 3.32vw;
        font-family: 'CormorantGaramond';
        @media(max-width: 920px){
            font-size:24px;
        }
    }

    &__title{
        font-family: 'Lato';
        font-size: 1.88vw;
        font-weight: 700;
        line-height: 140%;
        margin-top:30px;
        margin-bottom:10px;
        @media(max-width:920px){
            font-size: 18px;
        }
    }

    &__page{
        padding-top:100px;
        padding-bottom:15px;
        padding-left:15px;
        padding-right:15px;
    }

    &__container {
        width: 80%;
        margin: 0 auto;
        padding:0;

        @media(max-width: 920px) {
            width: 100%;
            padding-top:45px;
        }
    }

    &__txt {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 1.25vw;
        line-height: 140%;
        color: #024644;
        margin-bottom:15px;
        max-height: 60%;
        overflow-y: scroll;

        @media(max-width: 920px) {
            font-size: 12px;
            line-height: 140%;
            margin: 0 0 30px;
            max-height: 40%;
        }
    }

    &__list {
        display: flex;
        @media(max-width: 920px) {
            flex-wrap: wrap;
        }
    }

    &__btn {
        font-family: $lato-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        line-height: 140%;
        text-decoration: none;
        color: #024644;
        padding: 2% 8%;
        margin-right: 20px;

        @media(max-width: 920px){
            // width: 100%;
            padding: 10px 30px;
            font-size:12px;
            text-align: center;
            margin-bottom: 10px;
        }

        &:hover,
        &:first-child {
            opacity: 1;
            background: #024644;
            color: #fff;
        }
    }
}