.c-bespoke{

    &__traingle-container{
        width:57.3%;
        margin:0 auto;
        margin-bottom:60px;
        position: relative;
        @media(max-width:920px){
            width:100%;
            padding-left:20px;
            padding-right:20px;
        }

        >div{
            text-align: center;
            font-size: 0;
        }
        > div:nth-child(2){
            margin-top: -7.9%;
            margin-bottom: -7.9%;
            @media(max-width: 920px){
                margin-top:0;
                margin-bottom:0;
            }
        }
    }
    &__traingle-item{
        width:24.3%;
        background-image:url(/frontend/images/triangle-expertise.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        position: relative;
        background-image: none !important;

        @media(max-width:920px){
            display: inline-block;
            width: 134px;
            vertical-align: middle;
            margin-bottom:10px;
            background-image: url(/frontend/images/hexa-with-dot.svg) !important;
            position: initial;
        }
        &:hover .c-bespoke__traingle-content{
            opacity: 1;
        }
        &:hover .c-bespoke__traingle-title{
            font-size:1.875vw;
            @media(max-width: 920px){
                font-size:18px;
            }
        }
    }

    &__traingle-wrap{
        position: relative;
        padding-top:115%;
    }
    &__traingle-title{
        font-size: 1.5vw;
        width:100%;
        font-family: 'CormorantGaramond';
        line-height: 140%;
        background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        transition: all 0.3s ease-in-out;
        @media(max-width: 992px){
            font-size:18px;
        }
    }
    &__traingle-content{
        font-size:0.938vw;
        font-family: 'Lato';
        line-height: 140%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        position: absolute;
        top:50%;
        transform: translate(0,-50%);
        transition: all 0.3s ease-in-out;
        white-space: nowrap;
        color:$white-color;
        @media(max-width: 920px){
            opacity: 1;
            position: relative;
            top:0;
            transform: translate(0,0);
            width:calc(100% - 140px);
            display: inline-block;
            vertical-align: middle;
            font-size:10px;
            line-height: 110%;
            text-align: left;
            padding-right:15px;
            white-space: unset;
            margin-bottom:10px;
        }
    }

    &__traingle-item-1{
        .c-bespoke__traingle-content{
            text-align: right;
            right:calc(100% + 10px);
        }
    }
    &__traingle-item-2{
        left: -1.2%;
        .c-bespoke__traingle-content{
            text-align: left;
            left:calc(100% + 10px);
        }
    }
    &__traingle-item-3{
        left: 0.6%;
        .c-bespoke__traingle-content{
            text-align: right;
            right:calc(100% + 10px);
        }
    }
    &__traingle-item-4{
        left: -4px;
        .c-bespoke__traingle-title{
            font-family: 'Lato';
            color:$white-color;
            background: transparent;
            -webkit-background-clip: initial;
            -webkit-text-fill-color: initial;
        }
    }
    &__traingle-item-5{
        left: -1.8%;
        .c-bespoke__traingle-content{
            text-align: left;
            left:calc(100% + 10px);
        }
    }
    &__traingle-item-6{    
        left: -1px;
        .c-bespoke__traingle-content{
            text-align: right;
            right:calc(100% + 10px);
        }
    }
    &__traingle-item-7{
        left: -1.2%;
        .c-bespoke__traingle-content{
            text-align: left;
            left:calc(100% + 10px);
        }
    }

    .ds-none-mobile{
        @media(max-width:920px){
            display: none;
        }
    }
    .ds-none-pc{
        @media(min-width: 921px){
            display: none;
        }
    }
    .pl-2-mobile{
        @media(max-width:920px){
            padding-left:10px;
        }
    }

    &__background{
        position: absolute;
        top: 0;
        left: 49%;
        transform: translate(-50%, 0);
        width: 123%;
        @media(max-width:920px){
            display: none;
        }
    }
}