.c-generation{

    &__wrap{
        width:49.5%;
        margin:0 auto;
        text-align: center;
        padding-bottom:300px;
        @media(max-width:1600px){
            padding-bottom:200px;
        }
        @media(max-width:920px){
            text-align: left;
            width:100%;
            padding-left:20px;
            padding-right:20px;
            padding-bottom:60px;
        }
    }

    &__title1{
        color:#DEAB52;
        font-family: 'Lato';
        font-weight: 300;
        font-size:3vw;
        @media(max-width:920px){
            font-size:36px;
        }
    }

    &__txt{
        margin-top:15px;
        color:#F0FFFA ;
        font-family: 'CormorantGaramond';
        font-weight: 300;
        font-size: $fs-l;
        line-height: 140%;
        @media(max-width:920px){
            font-size:18px;
            line-height: 140%;
        }
    }
}