.expertise .c-indepen.indepen{

    .imgText1{
        display: block;
    }

    .imgText1__img{
        width:40%;
        display: inline-block;
        vertical-align: middle;
        @media(max-width:920px){
            width:100%;
        }
    }
    .imgText1__content-ttl{
        @media(max-width:920px){
            margin-bottom:30px;
        }
    }

    .imgText1__content{
        width:calc(60% - 6px);
        display: inline-block;
        vertical-align: middle;
        padding-right:0;
        transform: translate(-8%,0);
        @media(max-width:920px){
            width:100%;
            transform: translate(0,0);
        }
    }
    .indepen__crossbar{
        width:26%;
        margin:0 auto;
        @media(max-width:920px){
            width:180px;
        }
    }

    .indepen__list-link > img{
        display: block;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        @media(max-width:920px){
            opacity: 1;
        }
    }

    .indepen__list-link .indepen__list-txt{
        transition: all 0.3s;
    }

    .indepen__list-link:hover .indepen__list-txt{
        color:$white-color;
        font-size: 3.5vw;
    }
    .indepen__list-link:hover > img{
        opacity: 1;
    }
    // .indepen__txt > p{
    //     visibility: hidden;
    // }
}