.meaning.c-meaning{
    
    .meaning__slide{
        position: relative;
        width: 61.5%;
        margin:0 auto;
        @media(max-width:920px){
            width:100%;
            padding-left:20px;
            padding-right:20px;
        }
    }
    .imgText1{
        display: block;
        width:100%;
    }

    .imgText1__img{
        width:40%;
        display: inline-block;
        vertical-align: top;
        @media(max-width:920px){
            width:100%;
        }
    }
    .imgText1__content-ttl{
        line-height: 140%;
        @media(max-width:920px){
            margin-bottom:30px;
        }
    }

    .imgText1__content{
        width:calc(60% - 6px);
        display: inline-block;
        vertical-align: top;
        transform: translate(-8%, 12%);
        padding:0;
        @media(max-width:920px){
            width:100%;
            transform: translate(0,0);
        }
    }
    .meaning__slide {

        .slick {
            &-prev {
                display: none !important;
            }

            &-next {
                width: 8%;
                height: 100%;
                z-index: 1;
                right: -12%;
                transition: all .3s ease-in-out;

                @media(max-width: 920px) {
                    display: none !important;
                }

                &:before {
                    content: url(/frontend/images/expertise/arrow-right.png);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    opacity: 1 !important;
                }
            }
        }
    }
    .meaning__list{
        width:74%;
        overflow: hidden;
        @media(max-width:920px){
            width:100%;
        }
    }

    .meaning__list-ttl{
        font-size: 1.5vw;
        height: auto;
        margin-bottom:5px;
        @media(max-width:920px){
            font-size:18px;
        }
    }
    .meaning__list-img{
        margin-bottom:0;
        height: 65px;
        @media(max-width: 1200px){
            height: 55px;
        }
    }
    .meaning__list-img img{
        transform: scale(0.9);
        @media(max-width:1600px){
            transform: scale(0.7);
        }
        @media(max-width:1366px){
            transform: scale(0.6);
        }
        @media(max-width:1366px){
            transform: scale(0.5);
        }
        @media(max-width:920px){
            transform: scale(0.7);
        }
    }
    .meaning__list-item{
        
        padding-left: 15px;
        padding-right: 15px;
    }

    .c-meaning__tutorial{
        display: none;
        font-family: 'Lato';
        @media(max-width:920px){
            display: block;
            color:#DEAB52;
            font-size:12px;
            position:relative;   
            text-align: center;
            margin-top:30px;
            img{
                width:15px;
                position: absolute;
                right:0;
            }
        }
    }
}