.profile.c-profile{
    position: relative;
    padding-top: 5.89%;
    @media(max-width: 920px){
        padding-top:30px;
    }
 
    .profile__slide1 img{
        border-radius: 50%;
    }
    .title1{
        margin-bottom: 5.89%;
        @media(max-width: 920px){
            margin-bottom:30px;
        }
    }
    .profile__slide3{
        position: relative;
        top: 0;
        left: 1.5%;
        margin:0 auto 0 33%;
        @media(max-width:920px){
            position: relative;
            top:0;
            left:0;
            font-size:14px;
            padding-bottom:15px;
            margin:0;
        }
    }
    .profile__slide3-name{
        @media(max-width:920px){
            margin-top:15px;
        }
    }
    .profile__slide3-position{
        color:#F0FFFA;
        @media(max-width:920px){
            margin-bottom:15px;
        }
    }

    .profile__slide3-content{
        display: flex;
        @media(max-width:920px){
            display: block;
        }
        >*:nth-child(1){
            padding-right:5%;
            width:50%;
            @media(max-width:920px){
                padding-right:0;
                width:100%;
            }
        }
        >*:nth-child(2){
            padding-left:5%;
            width:50%;
            @media(max-width:920px){
                padding-left:0;
                margin-top:10px;
                width:100%;
            }
        }
        @media(max-width:920px){
            padding-bottom:15px;
            display: block;
        }
    }

    .profile__slide3-content p{
        font-family: 'Lato';
        font-size: 1.25vw;
        line-height: 140%;
        color:#F0FFFA;

        @media(max-width:920px){
            font-size:14px;
            line-height: 120%;
        }
    }

    .profile__slide2{
        margin-top:0;
        padding-top:4%;
        @media(max-width:920px){
            padding-top:0;
        }
    }

    .profile__img-quarter{
        position: absolute;
        width: 106%;
        left: 10%;
        top: 10%;
        display: none;
        img{
            width: 20.5%;
        }
    }
    .profile__slide1{
        margin-bottom: -28%;
        @media(max-width:920px){
            margin-bottom:0;
            padding-left:20px;
            padding-right:20px;
        }
    }
    .profile__slide1-inner{
        @media(max-width:920px){
            width: 80%;
            max-width: 500px;
            padding-top: 0;
        }
    }
    .profile__slide1-item.slick-current > .profile__slide1-inner > .profile__slide1-img{
        display: block;
        position: absolute;
        width: 91%;
        top: 9%;
        left: 15%;
        z-index: 1;
        border-radius: 50%;
        @media(max-width:920px){     
            position: relative;
            left: 3px;
            top: 4px;
            width: calc(100% - 6px);
        }
    }

    .profile__slide1-item.slick-current > .profile__slide1-inner{
        width: 100%;
        padding-top: 200%;
        transition: none;
        @media(max-width:920px){
            width: 80%;
            max-width: 500px;
            padding-top: 0;
        }
    }
    .profile__slide1-item.slick-current > .profile__slide1-inner > .profile__slide1-main{
        position: absolute;
        z-index: 1;
        top: 0;
        width: 70%;
        @media(max-width:920px){
            display: block;
            left: 0px;
            top: 0px;
            width: 100%;
        }
    }
    .profile__slide1-item.slick-slide.slick-current.slick-active .profile__img-quarter{
        display: block;
    }
    .profile__slide1-item{
        height: auto;
    }
}