$fs-s:0.9vw;
$fs-m:1vw;
$fs-l:1.25vw;
$fs-xl:1.5vw;
$fs-xxl:1.75vw;
$fs-xxxl:2vw;
$fs-title:3.1vw;

$fs-s-mobile:14px;
$fs-m-mobile:16px;
$fs-l-mobile:18px;
$fs-xl-mobile:20px;
$fs-xxl-mobile:22px;
$fs-xxxl-mobile:26px;
$fs-title-mobile:36px;




$primary-font: 'Gotham-Bold';
$cormorant-bold: 'CormorantGaramond-Bold';
$cormorant-italic: 'CormorantGaramond-Italic';
$cormorant-light: 'CormorantGaramond-Light';
$cormorant-medium: 'CormorantGaramond-Medium';
$cormorant-regular: 'CormorantGaramond-Regular';
$cormorant-semibold: 'CormorantGaramond-SemiBold';
$lato-light: 'Lato-light';
$lato-regular: 'Lato-Regular';


@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold1.otf');
}

@font-face {
    font-family: 'CormorantGaramond-Bold';
    src: url('../fonts/CormorantGaramond-Bold.ttf');
}

@font-face {
    font-family: 'CormorantGaramond-Italic';
    src: url('../fonts/CormorantGaramond-Italic.ttf');
}

@font-face {
    font-family: 'CormorantGaramond-Light';
    src: url('../fonts/CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'CormorantGaramond-Medium';
    src: url('../fonts/CormorantGaramond-Medium.ttf');
}

@font-face {
    font-family: 'CormorantGaramond-Regular';
    src: url('../fonts/CormorantGaramond-Regular.ttf');
}

@font-face {
    font-family: 'CormorantGaramond-SemiBold';
    src: url('../fonts/CormorantGaramond-SemiBold.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    src: url('../fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 100;
    src: url('../fonts/Lato-Thin.ttf');
}


@font-face {
    font-family: 'CormorantGaramond';
    font-weight: 700;
    src: url('../fonts/CormorantGaramond-Bold.ttf');
}

@font-face {
    font-family: 'CormorantGaramond';
    font-style: italic;
    src: url('../fonts/CormorantGaramond-Italic.ttf');
}

@font-face {
    font-family: 'CormorantGaramond';
    font-weight: 300;
    src: url('../fonts/CormorantGaramond-Light.ttf');
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../fonts/CormorantGaramond-Regular.ttf');
}

@font-face {
    font-family: 'CormorantGaramond-SemiBold';
    src: url('../fonts/CormorantGaramond-SemiBold.ttf');
}
