/*--------------------------------------------------
footer
---------------------------------------------------*/
.footer {
    background: #024644;
    text-align: center;
    padding: 111px 0 113px;
    padding: 4.2% 0;
    padding-bottom:0;
    padding-top:0;
    color: #fff;

    @media(max-width: 920px) {
        padding: 0;
    }

    &__logo {
        width: 24%;
        margin: 0 auto 23px;

        @media(max-width: 920px) {
            width: 125px;
            margin: 0 auto 25px;
        }
    }

    &__txt {
        font-family: $lato-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        margin: 0 0 52px;
        font-size: 0.94vw;

        @media(max-width: 920px) {
            font-family: $cormorant-regular;
            font-size: 12px;
            line-height: 120%;
            margin: 0 0 27px;
        }
    }

    &__list {
        margin-top:50px;
        margin-bottom:35px;

        @media(max-width: 920px) {
            margin: 0 0 36px;
        }

        li {
            display: inline-block;
            margin: 0 5px;
            width:1.25%;
            @media(max-width:1100px){
                width:16px;
            }
        }
    }

    &__copyright {
        font-family:'Lato';
        font-weight: 100;
        font-size:0.729vw;
        font-style: normal;
        line-height: 140%;
        padding-left:15px;
        padding-right:15px;
        @media(max-width:1200px){
            font-size: 1vw;
        }

        @media(max-width: 920px) {
            font-size:14px;
            line-height: 140%;
            padding-left:30px;
            padding-right:30px;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__disclaimer{
        font-family:'Lato';
        font-weight: 100;
        font-size:0.729vw;
        color:#fff;
        display: inline-block;
        text-decoration: none;
        margin-top:15px;
        @media(max-width:1200px){
            font-size: 1vw;
        }

        @media(max-width:920px){
            font-size:$fs-m-mobile;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__region{
        font-family:'Lato';
        font-weight: 100;
        font-size:0.729vw;
        color:#fff;
        margin-top:15px;
        @media(max-width:1200px){
            font-size: 1vw;
        }

        @media(max-width:920px){
            font-size:$fs-m-mobile;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}