.footer2{
    padding-top:4%;
    padding-bottom:3%;
    background:#022524;
    @media(max-width:920px){
        padding-top:40px;
        padding-bottom:25px;
    }

    &__container{
        width:73.5%;
        margin:0 auto;
        display: flex;
        text-align: left;
        @media(max-width:920px){
            max-width: 165px;
            width:100%;
            margin:0 auto;
            display: block;
        }
    }

    &__title{
        font-family: 'CormorantGaramond';
        font-size: 1.25vw;
        color:rgba(255,255,255,0.9);
        line-height: 180%;
        white-space: nowrap;
        @media(max-width:920px){
            font-size:18px;
            line-height: 120%;
            text-align: center;
        }
        &:hover{
            color:#fff;
            text-decoration: none;
        }
    }

    &__left{
        width:31%;
        position: relative;
        @media(max-width:920px){
            width:100%;
        }
    }

    &__center{
        width:46.5%;
        @media(max-width:920px){
            display: none;
        }
    }

    &__right{
        width:22.5%;
        @media(max-width:920px){
            display: block;
            width:100%;
        }
        .footer2__title{
            line-height: 140%;
            margin-bottom:15px;
            transition: all 0.3s ease-in-out;
            &:hover{
                color:#FEC973;
            }
            @media(max-width:920px){
                margin-bottom:15px;
            }
        }
    }

    &__submit{
        width:25%;
        margin-top: 11%;
        background: transparent;
        border:none;
        outline: none;
        padding:0;
        position: relative;

        .hover{
            display: none;
            position: absolute;
            z-index: 1;
            top:0;
            left:0;
            width:100%;
        }
        &:hover{
            .hover{
                display: block;
            }
        }

        @media(max-width:920px){
            display: none;
        }
    }

    &__logo{
        width:69%;
        @media(max-width:920px){
            width:100%;
        }
    }
    
    &__logo-des{
        font-family: 'CormorantGaramond';
        opacity: 0.7;
        font-size: 1.25vw;
        margin-top:5px;
        @media(max-width:920px){
            font-size:10px;
            text-align: center;
            margin-bottom:30px;
        }
    }

    &__content{
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        @media(max-width: 920px){
            position: relative;
        }
    }

    &__social{
        display: flex;
        margin-top:15px;

        >*:nth-child(1){
            text-align: left;
            flex: 1;
            white-space: nowrap;
        }
        >*::nth-child(2){
            text-align: right;
            flex: 1;
            white-space: nowrap;
        }
    }

    &__social a{
        display: inline-block;
        vertical-align: middle;
        margin-right:5px;
    }

    &__social img{
        width:23px;
        display: inline-block;
        vertical-align: middle;
        @media(max-width:1600px){
            width:14px;
        }
    }

    &__social span{
        display: inline-block;
        vertical-align: middle;
        font-size: 1vw;
        font-family: 'Lato';
        font-weight: 300;
        @media(max-width:920px){
            font-size:14px;
        }
    }

    &__title-small{
        font-family: 'Lato';
        font-weight: 300;
        color:#fff;
        margin-bottom:5px;
        opacity: 0.7;
        font-size: 0.9vw;
        margin-bottom: 5%;
        @media(max-width:920px){
            font-size:12px;
            text-align: center;
            margin-top:40px;
            margin-bottom:30px;
            width:100%;
        }
        &:hover{
            color:#F2F2F2;
            text-decoration: none;
        }
    }

    &__email{
        position: relative;
    }

    &__email input{
        outline: none;
        color:rgba(255,255,255,0.7);
        width:69%;
        margin-top:10px;
        background: transparent;
        border:none;
        border-bottom:1px solid rgba(255,255,255,0.6);
        padding-bottom:3px;
        font-family: 'Lato';
        font-weight: 300;
        font-size: 1.25vw;
        @media(max-width:920px){
            width:100%;
            font-size:14px;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color:rgba(255,255,255,0.6);
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:rgba(255,255,255,0.6);
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color:rgba(255,255,255,0.6);    
        }
    }

    &__bottom{
        background: #024644;
        padding-top: 0.8%;
        padding-bottom: 0.8%;
        text-align: left;
        @media(max-width:920px){
            padding-top:15px;
            padding-bottom:20px;
        }
    }

    &__bottom-container{
        display: flex;
        width: 73.5%;
        margin:0 auto;
        @media(max-width:920px){
            display: block;
            width:100%;
            max-width: 266px;
            margin:0 auto;
        }
    }

    &__bottom-left{
        width:31%;
        position: relative;
        font-size: 1vw;
        font-family: 'Lato';
        font-weight: 300;
        align-items: center;
        display: flex;
        @media(max-width: 920px){
            display: none;
            width:100%;
        }
    }
    &__bottom-center{
        width:46.5%;
        font-size: 1vw;
        font-family: 'Lato';
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        @media(max-width: 920px){
            display: block;
            width:100%;
            font-size:14px;
            width:100%;
            > a{
                display: block;
                font-size:14px;
                font-weight: 300;
                text-align: center;
            }
        }
    }
    &__bottom-right{
        font-size: 1vw;
        width: 31%;
        position: relative;
        left: 6%;
        font-family: 'Lato';
        font-weight: 300;
        align-items: center;
        display: flex;
        @media(max-width:920px){
            display: none;
            width:100%;
        }
    }

    &__arrow{
        display: none;
        @media(max-width: 920px){
            position: absolute;
            display: block;
            top:50%;
            right:0;
            transform: translate(0,-50%);
            background: transparent;
            border:none;
            width:30px;
            height: 30px;
            z-index: 1;
            outline: none;
            img{
                width: 15px;
                position: absolute;
                top:50%;
                transform: translate(0, -50%);
            }
        }
    }

    &__copyright-mobile > div{
        display: none;
        @media(max-width: 920px){
            display: block;
            font-size:14px;
            font-family: 'Lato';
            font-weight: 300;
            white-space: nowrap;
            text-align: center;
            margin-top:10px;
        }
    }
}