/*--------------------------------------------------
header
---------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #024644 0%, rgba(2, 70, 68, 0) 100%);
    z-index: 9999;
    padding: .5% 0;

    @media(max-width: 920px) {
        padding: 0;
    }
}
/*
----------------------------------------------------*/
.nav-header {
    $root: &;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 13%;

    @media(max-width: 920px) {
        padding: 30px 17px;
    }

    &__logo1 {
        width: 10.48%;

        @media(max-width: 920px) {
            width: 41%;
        }

        img {
            @media(max-width: 920px) {
                max-width: 116px;
            }
        }
    }

    &__logo2 {
        width: 4%;

        @media(max-width: 920px) {
            display: none;
        }

        a {
            display: block;
        }

        cursor: pointer;
        transition: all .3s;
        position: relative;

        img {
            transition: all .3s;
        }

        img:last-child {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &:hover {
            opacity: 0.8;

            img:first-child {
                opacity: 0;
            }

            img:last-child {
                opacity: 1;
            }
        }
    }

    &__item {
        width: 20%;
        text-align: center;
        position: relative;

        @media(max-width: 920px) {
            width: 100%;
        }

        &:last-child {
            .nav-header__link:after {
                @media(max-width: 920px) {
                    content: none;
                }
            }
        }

        &:hover {
            #{$root}__submenu {
                display: block !important;

                @media(max-width: 920px) {
                    display: none !important;
                }
            }
            #{$root}__link {
                color: #FEC973;
                transform: scale(1.5);
                letter-spacing: 0;

                @media(max-width: 920px) {
                    color: #024644;
                    transform: none;
                }

                &:after {
                    width: 100%;
                    @media(max-width: 920px) {
                        
                    }
                }
            }
        }
    }

    &__list {
        margin: 0;
        width: 56.5%;

        @media(max-width: 920px) {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background: #DEAB52;
            display: none;
        }
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;

            @media(max-width: 920px) {
                flex-wrap: wrap;
            }
        }
    }
    
    &__link {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-family: $cormorant-regular;
        font-size: .72vw;
        line-height: 140%;
        text-transform: capitalize;
        letter-spacing: 1px;
        position: relative;
        padding: 15% 0;
        transition: none;

        @media(max-width: 920px) {
            line-height: 120%;
            display: block;
            padding: 32px 0;
            color: #024644;;
            font-size: 14px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 3%;
            background: linear-gradient(177.41deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
            bottom: 0;
            left: 50%;
            transition: all .2s ease-in-out;
            transform: translateX(-50%);
            @media(max-width: 920px) {
                content: url(/frontend/images/home/crossbar-head.svg);
                background: none;
                width: 100%;
                height: 16px;
                bottom: -7px;
            }
        }

        &:hover{
            color: #FEC973;
            transform: scale(1.5);
            letter-spacing: 0;

            @media(max-width: 920px) {
                transform: none;
                color: #024644;
            }

            &:after {
                width: 100%;
            }
        }
        &.is-active {
            color: #FEC973;
            transform: scale(1.5);
            letter-spacing: 0;

            @media(max-width: 920px) {
                transform: none;
                color: #024644;
            }

            &:after {
                content:none;
                @media(max-width:920px){
                    content:url(/frontend/images/home/crossbar-head.svg);
                }
            }
        }
    }

    &__btn {
        width: 30px;
        height: 30px;
        padding: 7px 0 0;
        cursor: pointer;

        span {
            display: inline-block;
            width: 6px;
            height: 6px;
            background: linear-gradient(127.03deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
            border-radius: 100%;
        }
    }

    &__submenu {
        position: absolute;
        display: none !important;
        top: 126%;
        left: 50%;
        width: 171.6%;
        min-width: 300px;
        background: #E0E0E0;
        transform: translateX(-50%);

        @media(max-width: 920px) {
            display: none !important;
        }

        &:not(:last-child) {
            &:after {
                content: url(/frontend/images/home/crossbar-mb.svg);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__submenu-link {
        font-family: $cormorant-regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        text-decoration: none;
        color: #024644;
        padding: 9.6% 0;
        padding-bottom: 16%;
        position: relative;
        transition: all 0.5s;

        &:hover {
            color:#DEAB52;
            font-size: 16px;
        }
    }

    &__submenu-item {
        &:not(:last-child) {
            #{$root}__submenu-link:after {
                content: url(/frontend/images/home/crossbar-gold.svg);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &:last-child > a{
            padding-bottom:9.6%;
        }
    }

    &__submenu-list {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        margin-top: 10px;

        &:hover {
            background: #DEAB52;
            color: #fff;
        }
    }

    &__submenu-icon {
        width: 12.5%;

        &:last-child {
            width: 15.5%;
        }
    }
}