/*--------------------------------------------------
other
---------------------------------------------------*/
.mainVisual {
   $root: &;
   width: 100%;
   height: auto;
   position: relative;
   overflow: hidden;
   transition: all 0.3s ease-in-out;

   @media(max-width: 920px) {
      height: auto;
   }

   &.is-scroll {
      height: 100%;

      @media(max-width: 920px) {
         height: auto;
      }
   }

   &--banner1{
      .mainVisual__banner video{
         @media(max-width:992px){
            width: 170%;
         }
         @media(max-width:767px){
            left: 10%;
            width:1425px;
         }
      }
      #{$root}__txt {
         @media(max-width:920px){
            max-width: 300px;
         }
      }
   }

   &--banner2 {
      .mainVisual__banner video{
         @media(max-width:992px){
            width: 170%;
         }
         @media(max-width:767px){
            left: 70%;
            width:1425px;
         }
      }
      #{$root}__txt {
         top: 11.6%;
         left: 13%;
         line-height: 7.2vw;

         @media(max-width: 920px) {
            left: auto;
            line-height: 110%;
            top: 19.1%;
            right: 7.5%;
         }
      }

      #{$root}__btn {    
         top: 46.2%;
         left: 13.3%;

         @media(max-width: 920px) {
            left: auto;
            top: 56.9%;
            right: 5.3%;
         }
      }
   }

   &--banner3 {
      .mainVisual__banner video{
         @media(max-width:992px){
            width: 170%;
         }
         @media(max-width:767px){
            left: 100%;
            width:1425px;
         }
      }
      #{$root}__txt {
         text-align: right;
         top: 18.1%;
         line-height: 146%;
         @media(max-width:920px){
            max-width: 300px;
         }
      }
   }

   &__banner {
      overflow: hidden;
      padding-top: 70%;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      position: relative;
      video{
         position: absolute;
         top:50%;
         left:50%;
         transform: translate(-50%,-50%);
         width:125%;
         height: 100%;
         z-index: 1;
      }
      @media(max-width:920px){
         background-attachment: initial;
         background-size: auto 100%;     
         padding-top:0;
         min-height: 800px;
      }


      >.mb-only {
         display: none !important;

         @media(max-width: 920px) {
            display: block !important;
         }
      }

      >.pc-only {
         display: block !important;

         @media(max-width: 920px) {
            display: none !important;
         }
      }

      img {
         width: 100%;
         @media(max-width: 920px){
            height: auto;
         }
      }
   }

   &__txt {
      font-family: $lato-light;
      font-style: normal;
      font-weight: 300;
      line-height: 140px;
      text-transform: lowercase;
      color: #fff;
      position: absolute;
      top: 24.7%;
      right: 13.5%;
      font-size: 5vw;
      white-space: pre-line;
      z-index: 2;

      @keyframes typing {
         from {
            width: 0;
         }

         to {
            width: 53%;
         }
      }

      @keyframes blink {

         from,
         to {
            border-color: transparent
         }

         50% {
            border-color: #fff;
         }
      }

      @media(max-width: 920px) {
         line-height: 110%;
         text-align: right;
         top: 31%;
         right: 6.25%;
         font-size: 48px;
      }
   }

   &__btn {
      width: 8.3%;
      position: absolute;
      top: 48.2%;
      right: 14.1%;
      z-index: 1;

      img {
         &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .3s;
         }
      }

      &:hover {
         img {
            &:last-child {
               opacity: 1;
            }

            &:first-child {
               opacity: 0;
            }
         }
      }

      @media(max-width: 920px) {
         // width: 100px;
         top: 56.9%;
         right: 5.3%;
         width: 31.3%;
         max-width: 160px;
      }
   }

   &__logo {
      position: absolute;
      width: 2%;
      top: 67%;
      right: 13.1%;
      transition: all .75s ease-in-out;
      z-index: 2;
      cursor: pointer;
      @media(max-width:920px){
         display: none;
      }

      &.is-opt {
         opacity: 0;
      }
   }

   &__circle {
      position: absolute;
      top: 55%;
      right: -50%;
      width: 31%;
      border-radius: 100%;
      background: #024644;
      z-index: 1;
      transition: all .75s ease-in-out;
      padding-top: 31%;
      z-index: 2;

      &.is-active {
         right: 10%;
      }
   }

   &__circle-txt {
      font-family: $cormorant-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      font-size: 1.25vw;
      line-height: 120%;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76%;
      padding-right: 10%;
   }

   &__circle-img {
      width: 6.5%;
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      cursor: pointer;
   }
}

/*  imgText1
---------------------------------------------------*/
.imgText1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;

   @media(max-width: 920px) {
      width: 100%;
      padding: 0;
      flex-wrap: wrap;
   }

   &__img,
   &__content {
      flex: 1;

      @media(max-width: 920px) {
         flex: auto;
      }
   }

   &__img {
      margin-right: 9%;

      @media(max-width: 920px) {
         margin: 0;
      }
   }

   &__img-inner {
      position: relative;
      top: -16px;

      @media(max-width: 920px) {
         top: 0;
      }
   }

   &__img-main {
      position: absolute;
      top: 33%;
      left: 23%;
      width: 88.3%;
      z-index: 1;

      @media(max-width: 920px) {}
   }

   &__img-circle {
      width: 66.4%;

      @media(max-width: 920px) {}
   }

   &__img-quarter {
      position: absolute;
      top: 26%;
      left: 28%;
      width: 78%;
      z-index: 1;
      padding-top: 98%;
      transition: all 2s ease-in-out;

      img {
         width: 100%;
         position: absolute;
         top: 0;
         left: 0;
      }

      &.is-scroll {
         transform: rotate(1turn);
      }
   }

   &__content {
      padding: 12.9% 8% 0 0;

      @media(max-width:920px) {
         width: 100%;
         margin: 0;
         padding: 0;
      }

      .title1 {
         text-align: left;
         font-size: 3.32vw;
         margin: 0 0 9% 0;

         @media(max-width: 920px) {
            margin: 0;
            font-size: 36px;
         }
      }
   }

   &__content-ttl {
      font-family: $lato-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 43px;
      letter-spacing: 2px;
      text-transform: capitalize;
      color: #fff;
      margin: 0 0 2.5%;
      font-size: 1.88vw;
      line-height: 110%;

      @media(max-width: 920px) {
         font-size: 24px;
         line-height: 120%;
      }
   }

   &__content-txt {
      font-family: $cormorant-regular;
      font-style: normal;
      font-weight: normal;
      color: $white-color;
      font-size: $fs-l;
      line-height: 140%;
      
      @media(max-width: 920px) {
         font-size: 18px;
         line-height: 140%;
      }
   }
}

/*  imgText2
---------------------------------------------------*/
.imgText2 {
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;

   @media(max-width: 920px) {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column-reverse;
   }

   &__img,
   &__content {
      flex: 1;

      @media(max-width: 920px) {
         flex: auto;
      }
   }

   &__img {
      @media(max-width: 920px) {
         width: 80%;
      }
   }

   &__img-inner {
      position: relative;

      @media(max-width: 920px) {
         margin-bottom: 12px;
      }
   }

   &__img-main {
      position: absolute;
      top: 0;
      left: -9.5%;
      width: 94%;
      z-index: 1;

      @media(max-width: 920px) {
         top: 5%;
         left: 5.5%;
      }
   }

   &__img-circle {
      width: 72%;
      margin-top: 51%;
      position: relative;
      left: 20%;

      @media(max-width: 920px) {
         left: 47%;
      }
   }

   &__img-quarter {
      position: absolute;
      width: 84%;
      top: -3%;
      left: -5%;
      padding-top: 80%;
      transition: all 2s ease-in-out;

      @media(max-width: 920px) {
         top: 4%;
         left: 10%;
      }

      &.is-scroll {
         transform: rotate(1turn);
      }
   }

   &__content {
      padding-right: 12%;

      @media(max-width: 920px) {
         padding: 0 5.5%;
         width: 100%;
      }
   }

   &__content-txt {
      font-family: $lato-light;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 140%;
      color: #024644;
      font-size: 0.94vw;

      @media(max-width: 920px) {
         font-size: 16px;
         line-height: 120%;
      }

      &:not(:last-child) {
         margin-bottom: 8%;

         @media(max-width: 920px) {
            margin-bottom: 27px;
         }
      }
   }
}

/*  crossbar
---------------------------------------------------*/
.crossbar {
   text-align: center;
}

/*  
---------------------------------------------------*/
// .typing {
//    &:after {
//       content: '';
//       border-left: 4px solid #fff;
//       animation: blink 1s step-end infinite;
//       margin: 0 5px;
//    }

//    @keyframes blink {

//       from,
//       to {
//          border-color: transparent
//       }

//       50% {
//          border-color: #fff;
//       }
//    }
// }