/*--------------------------------------------------
title
---------------------------------------------------*/
.title1 {
    font-family: $lato-light;
    font-weight: 300;
    text-align: center;
    color: #DEAB52;
    font-size: 3.34vw;
    line-height: 120%;

    @media(max-width: 920px) {
        font-size: 36px;
        line-height: 43px;
    }
}

.title2 {
    font-family: $cormorant-light;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 140px;
    text-align: center;
    color: #024644;
    font-size: 5vw;
    line-height: 146%;

    @media(max-width: 920px) {
        font-size: 36px;
        line-height: 43px;
    }
}