.c-banner{
    &__background{
        padding-top:56%;
        height: 500px;
        min-height: 500px;
        background-size:cover;    
        background-attachment: fixed;
        background-position: top center;
    }
}
.mainVisual__banner{
    overflow: hidden;
}
.mainVisual.mainVisual--banner2 .mainVisual__banner{
    @media(max-width:920px){
        background-position: 93% 0;
    }
}
.mainVisual.mainVisual--banner1 .mainVisual__banner{
    @media(max-width:920px){
        background-position: 19% 0;
    }
}