.leadership.c-leadership{
    background: #fff;
    padding: 131px 0 0;
    padding-top: 6.83%;

    @media(max-width: 920px) {
        padding: 97px 0 0;
    }

    .title2 {
        margin: 0 0 56px;
        margin-bottom: 6.52%;

        @media(max-width: 920px) {
            margin-bottom: 0px;
            text-align: center;
        }
    }

    .crossbar {
        width: 26.31%;
        margin: 0 auto;
        padding: 56px 0 23px;
        padding: 3% 0 1.1%;

        @media(max-width: 920px) {
            width: 168px;
            padding: 46px 0 61px;
        }
    }

    .imgText2__img-main {
        top: 3%;
        border-radius: 50%;

        @media(max-width: 920px) {
            top: 7%;
        }
    }

    .imgText2__img-quarter {
        top: 0;
        left: -5%;

        @media(max-width: 920px) {
            top: 4%;
            left: 10%;
        }
    }

    .imgText2__img{
        transform: translate(0,-13%);
        @media(max-width:920px){
            transform: translate(0, -3%);
        }
    }

    .imgText2__content{
        @media(max-width:920px){
            padding:0 20px;
            padding-bottom:50px;
        }
    }
    .imgText2__content-txt{    
        width: 62%;
        margin-left: 26%;
        font-size: 1.25vw;
        line-height: 140%;
        @media(max-width:920px){
            width:100%;
            margin-left:0;
            font-size:14px;
        }
    }
    .imgText2__content-txt:not(:last-child){
        margin-bottom:4%;
        @media(max-width:920px){
            margin-bottom:20px;
        }
    }
}