<div class="policy">
    <div class="policy__container">
        <h3 class="title2">Disclaimer Policy</h3>
        <div class="policy__txt">
            Confidentiality Statement and Legal Disclaimer
            <br /><br />
            The provisions of this plan are privileged and confidential. Unauthorized reproduction or distribution
            of this business plan or any of its contents in any form or under any circumstances without prior
            written consent is prohibited. The Recipient is responsible for returning all copies of the Business
            Plan immediately upon request of the Company. The information contained herein is: (i) provided by the
            principal founders of the business and (ii) publicly available from directories, publications and
            websites, as mentioned in the body and the footnotes where possible or appropriate. In some cases,
            non-publicly available information was used, including independent research, studies or paid services
            from individuals and organizations. While the information set forth herein is deemed by the Company to
            be accurate, the Company shall not be held liable for the accuracy of or any omissions from this
            Business Plan or for any other written or oral communication transmitted to the Recipient and any other
            party in the course of its evaluation of transactions involving the Company. The information contained
            in the plan will require careful scrutiny, verification and due diligence efforts from the Recipients of
            the plan. Any person or entity seeking to make an investment in the business should not rely on the
            information set forth in the plan as complete. In addition, the analyses contained herein do not claim
            to be appraisals of the assets, or the valuation of any entity. The business makes no guarantees
            regarding any benefits received from investment, nor the legal, tax or accounting effects of any
            transaction; and this Plan does not constitute an offer to sell, or a solicitation of an offer to buy
            securities. In furnishing the Business Plan, the Company undertakes no obligation to provide Recipients
            of the Business Plan with access to any additional information or to update this Business Plan or to
            correct any inaccuracies that may be contained herein. There exists substantial information with respect
            to the business and its future prospects, and there are a substantial number of risks associated with an
            investment in the business, which are not set forth in the plan. Furthermore, the potential fulfilment
            of ‘forward looking statements’ contained in the plan are subject to change due to unexpected events,
            market shifts, or circumstances that cannot be known at this time. Forward looking statements are based
            on expectations, estimates and projections at the time the statements were made that involve a number of
            economic, business, and numerous risks and uncertainties which could cause actual results or events to
            differ materially from those presently anticipated. Forward looking statements in the plan may be
            identified through the use of words such as, but not exclusively to: “expects,” “will,” anticipates,”
            estimates,” “believes,” or statements indicating certain actions “may,” “could,” or “might” occur. Such
            estimates and projections are subject to significant uncertainties beyond the control of the Company.
            Although such projections are believed to be realistic, no representations are made as to their ultimate
            attainability.
        </div>
        <div class="policy__list">
            <a href="#" class="policy__btn policy__agree">Agree</a>
            <a href="#" class="policy__btn" data-dismiss="modal">Disagree</a>
        </div>
    </div>
</div>