<section class="leadership c-leadership" id="leadership">

    <h3 class="title2 pc-only">Our Leadership</h3>
    <div class="imgText2">
        <div class="imgText2__content">
            <h3 class="title2 mb-only ff-comor">Our Leadership</h3>
            <div class="imgText2__img mobile-only">
                <div class="imgText2__img-inner">
                    <img src="/images/establishment/img001.png" alt="" class="imgText2__img-main">
                    <img src="/images/home/circle003.png" alt="" class="imgText2__img-circle">
                    <div class="imgText2__img-quarter is-scroll">
                        <img src="/images/home/quarter-circle1.png" alt="">
                    </div>
                </div>
            </div>
            <p class="imgText2__content-txt ff-lato">
                Our distinct way of applying empathy and listening skills combines a holistic approach towards
                understanding what works and what not, resulting in the deepest possible understanding of family
                business dynamics and preserving for their future well-being.
            </p>
            <p class="imgText2__content-txt ff-lato">
                Relentlessly passionate and unbiased by nature, our executive team brings together 100+ years of
                industry experience, providing expert leadership for the ENVYSION team and long-term value for
                our clients
            </p>
        </div>
        <div class="imgText2__img pc-only">
            <div class="imgText2__img-inner">
                <img src="/images/establishment/img001.png" alt="" class="imgText2__img-main">
                <img src="/images/home/circle003.png" alt="" class="imgText2__img-circle">
                <div class="imgText2__img-quarter is-scroll">
                    <img src="/images/home/quarter-circle1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>