<section class="profile c-profile">
    <h3 class="title1">Executives Profile</h3>
    <div class="profile__slide1">
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img002.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img003.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img004.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img005.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img002.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img003.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img004.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
        <div class="profile__slide1-item">
            <div class="profile__slide1-inner">
                <img src="/images/home/circle003.png" alt="" class="profile__slide1-main">
                <img src="/images/establishment/img005.png" alt="" class="profile__slide1-img">
                <div class="profile__img-quarter">
                    <img src="/images/establishment/small-vector.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="profile__slide3">
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Veronica Shim</h3>
                <p class="profile__slide3-position">Co-founder</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Veronica Shim is the Co-Founder of Envysion Wealth Management. She is a veteran private
                    banker
                    and has been the trusted advisor for Ultra High Net worth Families and Entrepreneurs in the
                    South East Asia Region for the past 18 years.<br /><br />

                    She started her private banking career with Citigroup and then UBS, managing Ultra-high net
                    worth families from the South East Asia Region. In 2008, she continued her career
                    development
                    with Bank Julius Baer as one of the pioneers in the Asia team. Since then, Bank Julius Baer
                    has
                    grown to become one of the largest Swiss Bank in the world.<br /><br />

                    In 2017, she joined EFG AG as the Head of South East Asia, managing a team of Private
                    bankers
                    servicing clients from Thailand and Malaysia. Apart from assisting her bankers in
                    structuring
                    accurate solutions for their clients, she also manages her own set of UHNW clients from the
                    region.<br /><br />

                    Her current role includes building a profitable SEA Market Segment by acquiring Ultra High
                    New
                    Worth clients and hiring private bankers through various market development strategies and
                    working with various business originations in the region.
                </p>
                <p>
                    Veronica is a qualified Trust and Estate Practitioner, TEP of the STEP. STEP is the global
                    professional association for practitioners who specialize in family inheritance and
                    succession planning. She is a firm believer of creating a solid succession plan for every
                    wealthy family to have a smooth and cordial transfer of wealth to future generations.
                    <br /><br />
                    Veronica is a Certified Financial Planner, CFP of FPAS Singapore. She also holds a Master
                    Degree in Applied Finance and a First Class Honors in BSc in Banking & Finance from London
                    School of Economics. Being an entrepreneur herself, she co-founded Swag EV, an Electric
                    Motorbikes wholesale and manufacturing company targeting the South East Asia region. She
                    also participated in the setup of WISE, a social enterprise that aims to provide jobs for
                    the socially and physically disabled.
                    <br /><br />
                    Through the journey of being an Entrepreneur, she can understand more about what the
                    Entrepreneurs and Business founders required, thus made her a competent professional to help
                    all her clients in resolving their wealth matters.
                </p>
            </div>
        </div>
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Kelvin Ling</h3>
                <p class="profile__slide3-position">Co-founder</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Kelvin Ling is the Co-founder of Envysion Wealth Management. In a career spanning close to
                    two decades in a number of leading global private banking institutions, Kelvin has developed
                    extensive expertise, knowledge base and experience in advising high net worth clients and
                    their family wealth needs.<br /><br />

                    Kelvin began his career in private banking with Citi Private Bank, advising high net worth
                    Indonesian families on their private wealth matters.<br /><br />

                    Subsequently, he moved to UBS and thereafter, UOB Private Banking. Kelvin joined as a senior
                    private banker tasked with developing both the Indonesian as well as the Malaysian business
                    for the bank.<br /><br />

                    During his coverage of the Malaysian market with UOB, he anchored strong ties and
                    relationships with several families that are ranked in the Forbes list, by helping them to
                    navigate complex family wealth solutions, including the structuring and execution of
                    succession planning and inter-generational wealth transfer strategies.
                </p>
                <p>
                    Subsequently, Kelvin was tasked by the bank’s top management to spearhead the set-up of a
                    new business unit, covering the Independent Asset Managers/Multi-Family Office (IAM/MFO)
                    segment. Under his leadership, he crafted the business strategy from ground zero to its
                    current status, building up a USD 1.75Bn AUM business unit within the 4 years since its
                    inception and roll out. In 2018, he has also expanded the same IAM/MFO platform for the bank
                    to cover Single Family Office (SFO) advisory services.<br /><br />

                    Outside of work, Kelvin is a firm believer in financial education and empowerment for the
                    masses and is a member of the Financial Planning Association of Singapore (FPAS) Public
                    Education Board. Under the FPAS banner, he had conducted voluntary workshops and seminars
                    for the public on topics relating to personal finance and literacy.
                    Kelvin’s passion for sharing knowledge saw him undertaken stints as adjunct lecturer at
                    institutions like NTUC’s E2i Institute, SHRI and till today, remains as Adjunct Trainer at
                    SMU’s Office of Executive Development.

                </p>
            </div>
        </div>
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Jacob Doo</h3>
                <p class="profile__slide3-position">Chief Investment Officer</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Jacob Doo is the Chief Investment Officer of Envysion Wealth Management. He is a senior
                    banking professional with 25 years of experience in private banking, fund management,
                    investment banking, FX trading, corporate treasury and wealth management in the retail
                    space.<br /><br />

                    Being the Chief Investment Officer of Envysion Wealth Management (EWM), his strong
                    multi-asset class product background across equities, fixed income, FX, rates, commodities,
                    funds (mutual, hedge and private equity), structured products, derivatives, cross border
                    solutions and corporate financing will help to enhance the value proposition EWM can offer.
                    His wealth of experience is accumulated from having gone through multiple cycles over the
                    decades from the Asian financial crisis in 1997-98, the Malaysian capital control, the high
                    US rate cycle in early 2000, the accumulator blows up in 2005 and the Lehman Brothers global
                    financial crisis.<br />
                    During each period, he had established a solid track record of performance in challenging
                    environments, providing the stability in crisis, managing portfolios to generate decent
                    returns and took advantage of market anomalies when it presented itself.

                </p>
                <p>
                    In terms of career accomplishments, he developed the structured products platform in Asia
                    for Bank Julius Baer and established the capability of the structured solution in Bank
                    Sarasin. In Standard Chartered Bank, he was managing fixed income, credit products, FX,
                    rates, commodities, and equities in 2014 – 2015. He also established clear guidelines on the
                    policies to 23 countries and helped to stabilize the revenue stream particularly in the FX,
                    rates, and commodity asset classes.<br /><br />

                    As part of his risk management responsibilities, he dealt with multiple central banks'
                    audits. During the Lehman Brothers crisis, he was tasked by Bank Julius Baer to manage the
                    exposures across all asset classes and dealt with potential lawsuits.
                    <br /><br />
                    Besides being a banking professional, Jacob was a trainer with Salmon Thrust and train
                    Relationship Managers, Assistant Relationship Managers and risk staff from Credit Suisse
                    private bank on IBF's CACS papers.
                    <br /><br />
                    He is also the program reviewer on the Institute of Banking and Finance (IBF) standards on
                    CACS for Salmon Thrust.
                </p>
            </div>
        </div>
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Tan Kay Siong</h3>
                <p class="profile__slide3-position">Chief Operating Officer & Head of Compliance</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Kay Siong is the Chief Operating Officer and Head of Compliance of Envysion Wealth
                    Management.<br /><br />

                    Kay Siong holds an MBA in Financial Management from the University of Hull, UK and obtained
                    the Certified Anti-Money Laundering Specialist qualification from the Association of
                    Certified Anti-money Laundering Specialists (“ACAMS”) in 2005. His other professional
                    memberships include the Association of Chartered Certified Accountants (“ACCA”) and the
                    Singapore Institute of Directors. Being a strong believer of continuous training, Kay Siong
                    is currently pursuing the AI in Finance course jointly offered by the Centre for Finance,
                    Technology and Entrepreneurship and Ngee Ann Polytechnic.

                </p>
                <p>
                    Kay Siong is a seasoned Compliance professional with over 25 years of experience in the
                    banking industry, including a significant part of being an inspector with the local banking
                    regulator. Having been in the industry for more than 25 years, Kay Siong has vast experience
                    in setting up the Compliance function in banks including investment and private banks. In
                    his most recent role, he built the Compliance function of a private bank from a one-man
                    function to a 12-man team. He also played a leadership role in Compliance to support the
                    successful integration of an acquired private bank.<br /><br />

                    As a former regulator, Kay Siong has a good understanding of regulatory expectations. He
                    also has valuable experience in regulatory engagement and responding to regulatory
                    expectations as a Compliance professional in financial institutions.
                </p>
            </div>
        </div>
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Veronica Shim</h3>
                <p class="profile__slide3-position">Co-founder</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Veronica Shim is the Co-Founder of Envysion Wealth Management. She is a veteran private
                    banker
                    and has been the trusted advisor for Ultra High Net worth Families and Entrepreneurs in the
                    South East Asia Region for the past 18 years.<br /><br />

                    She started her private banking career with Citigroup and then UBS, managing Ultra-high net
                    worth families from the South East Asia Region. In 2008, she continued her career
                    development
                    with Bank Julius Baer as one of the pioneers in the Asia team. Since then, Bank Julius Baer
                    has
                    grown to become one of the largest Swiss Bank in the world.<br /><br />

                    In 2017, she joined EFG AG as the Head of South East Asia, managing a team of Private
                    bankers
                    servicing clients from Thailand and Malaysia. Apart from assisting her bankers in
                    structuring
                    accurate solutions for their clients, she also manages her own set of UHNW clients from the
                    region.<br /><br />

                    Her current role includes building a profitable SEA Market Segment by acquiring Ultra High
                    New
                    Worth clients and hiring private bankers through various market development strategies and
                    working with various business originations in the region.
                </p>
                <p>
                    Veronica is a qualified Trust and Estate Practitioner, TEP of the STEP. STEP is the global
                    professional association for practitioners who specialize in family inheritance and
                    succession planning. She is a firm believer of creating a solid succession plan for every
                    wealthy family to have a smooth and cordial transfer of wealth to future generations.
                    <br /><br />
                    Veronica is a Certified Financial Planner, CFP of FPAS Singapore. She also holds a Master
                    Degree in Applied Finance and a First Class Honors in BSc in Banking & Finance from London
                    School of Economics. Being an entrepreneur herself, she co-founded Swag EV, an Electric
                    Motorbikes wholesale and manufacturing company targeting the South East Asia region. She
                    also participated in the setup of WISE, a social enterprise that aims to provide jobs for
                    the socially and physically disabled.
                    <br /><br />
                    Through the journey of being an Entrepreneur, she can understand more about what the
                    Entrepreneurs and Business founders required, thus made her a competent professional to help
                    all her clients in resolving their wealth matters.
                </p>
            </div>
        </div>
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Kelvin Ling</h3>
                <p class="profile__slide3-position">Co-founder</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Kelvin Ling is the Co-founder of Envysion Wealth Management. In a career spanning close to
                    two decades in a number of leading global private banking institutions, Kelvin has developed
                    extensive expertise, knowledge base and experience in advising high net worth clients and
                    their family wealth needs.<br /><br />

                    Kelvin began his career in private banking with Citi Private Bank, advising high net worth
                    Indonesian families on their private wealth matters.<br /><br />

                    Subsequently, he moved to UBS and thereafter, UOB Private Banking. Kelvin joined as a senior
                    private banker tasked with developing both the Indonesian as well as the Malaysian business
                    for the bank.<br /><br />

                    During his coverage of the Malaysian market with UOB, he anchored strong ties and
                    relationships with several families that are ranked in the Forbes list, by helping them to
                    navigate complex family wealth solutions, including the structuring and execution of
                    succession planning and inter-generational wealth transfer strategies.
                </p>
                <p>
                    Subsequently, Kelvin was tasked by the bank’s top management to spearhead the set-up of a
                    new business unit, covering the Independent Asset Managers/Multi-Family Office (IAM/MFO)
                    segment. Under his leadership, he crafted the business strategy from ground zero to its
                    current status, building up a USD 1.75Bn AUM business unit within the 4 years since its
                    inception and roll out. In 2018, he has also expanded the same IAM/MFO platform for the bank
                    to cover Single Family Office (SFO) advisory services.<br /><br />

                    Outside of work, Kelvin is a firm believer in financial education and empowerment for the
                    masses and is a member of the Financial Planning Association of Singapore (FPAS) Public
                    Education Board. Under the FPAS banner, he had conducted voluntary workshops and seminars
                    for the public on topics relating to personal finance and literacy.
                    Kelvin’s passion for sharing knowledge saw him undertaken stints as adjunct lecturer at
                    institutions like NTUC’s E2i Institute, SHRI and till today, remains as Adjunct Trainer at
                    SMU’s Office of Executive Development.

                </p>
            </div>
        </div>
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Jacob Doo</h3>
                <p class="profile__slide3-position">Chief Investment Officer</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Jacob Doo is the Chief Investment Officer of Envysion Wealth Management. He is a senior
                    banking professional with 25 years of experience in private banking, fund management,
                    investment banking, FX trading, corporate treasury and wealth management in the retail
                    space.<br /><br />

                    Being the Chief Investment Officer of Envysion Wealth Management (EWM), his strong
                    multi-asset class product background across equities, fixed income, FX, rates, commodities,
                    funds (mutual, hedge and private equity), structured products, derivatives, cross border
                    solutions and corporate financing will help to enhance the value proposition EWM can offer.
                    His wealth of experience is accumulated from having gone through multiple cycles over the
                    decades from the Asian financial crisis in 1997-98, the Malaysian capital control, the high
                    US rate cycle in early 2000, the accumulator blows up in 2005 and the Lehman Brothers global
                    financial crisis.<br />
                    During each period, he had established a solid track record of performance in challenging
                    environments, providing the stability in crisis, managing portfolios to generate decent
                    returns and took advantage of market anomalies when it presented itself.

                </p>
                <p>
                    In terms of career accomplishments, he developed the structured products platform in Asia
                    for Bank Julius Baer and established the capability of the structured solution in Bank
                    Sarasin. In Standard Chartered Bank, he was managing fixed income, credit products, FX,
                    rates, commodities, and equities in 2014 – 2015. He also established clear guidelines on the
                    policies to 23 countries and helped to stabilize the revenue stream particularly in the FX,
                    rates, and commodity asset classes.<br /><br />

                    As part of his risk management responsibilities, he dealt with multiple central banks'
                    audits. During the Lehman Brothers crisis, he was tasked by Bank Julius Baer to manage the
                    exposures across all asset classes and dealt with potential lawsuits.
                    <br /><br />
                    Besides being a banking professional, Jacob was a trainer with Salmon Thrust and train
                    Relationship Managers, Assistant Relationship Managers and risk staff from Credit Suisse
                    private bank on IBF's CACS papers.
                    <br /><br />
                    He is also the program reviewer on the Institute of Banking and Finance (IBF) standards on
                    CACS for Salmon Thrust.
                </p>
            </div>
        </div>
        <div class="profile__slide3-item">
            <div class="profile__slide3-info">
                <h3 class="profile__slide3-name">Tan Kay Siong</h3>
                <p class="profile__slide3-position">Chief Operating Officer & Head of Compliance</p>
            </div>
            <div class="profile__slide3-content">
                <p>
                    Kay Siong is the Chief Operating Officer and Head of Compliance of Envysion Wealth
                    Management.<br /><br />

                    Kay Siong holds an MBA in Financial Management from the University of Hull, UK and obtained
                    the Certified Anti-Money Laundering Specialist qualification from the Association of
                    Certified Anti-money Laundering Specialists (“ACAMS”) in 2005. His other professional
                    memberships include the Association of Chartered Certified Accountants (“ACCA”) and the
                    Singapore Institute of Directors. Being a strong believer of continuous training, Kay Siong
                    is currently pursuing the AI in Finance course jointly offered by the Centre for Finance,
                    Technology and Entrepreneurship and Ngee Ann Polytechnic.

                </p>
                <p>
                    Kay Siong is a seasoned Compliance professional with over 25 years of experience in the
                    banking industry, including a significant part of being an inspector with the local banking
                    regulator. Having been in the industry for more than 25 years, Kay Siong has vast experience
                    in setting up the Compliance function in banks including investment and private banks. In
                    his most recent role, he built the Compliance function of a private bank from a one-man
                    function to a 12-man team. He also played a leadership role in Compliance to support the
                    successful integration of an acquired private bank.<br /><br />

                    As a former regulator, Kay Siong has a good understanding of regulatory expectations. He
                    also has valuable experience in regulatory engagement and responding to regulatory
                    expectations as a Compliance professional in financial institutions.
                </p>
            </div>
        </div>
    </div>
    <div class="profile__slide2">
        <!-- <div class="profile__slide2-item">
            <div>
                <img src="/images/establishment/slide001.jpg" alt=""/>
            </div>
        </div>
        <div class="profile__slide2-item">
            <div>
                <img src="/images/establishment/slide002.jpg" alt="" />
            </div>
        </div>
        <div class="profile__slide2-item">
            <div>
                <img src="/images/establishment/slide003.jpg" alt="" />
            </div>
        </div> -->
        <div class="profile__slide2-item">
            <div>
                <img src="/images/establishment/slide004.jpg" alt=""/>
            </div>
        </div>
    </div>
</section>