<section class="indepen c-indepen">
    <h3 class="title2 text-gradient">
        More independence.<br />
        More possibilities.
    </h3>
    <div class="indepen__crossbar"><img src="/images/expertise/crossbar.png" alt=""></div>
    <div class="indepen__txt color-white">
        <p>Our solutions are designed to provide you with choices and flexibility to help you meet your family wealth needs.</p>
        <p>While having two decades of legacy planning commands gold, we find that these are what makes ENVYSION stands out further:</p>
    </div>
    <div class="indepen__slide">
        <div class="indepen__slide-item">
            <div class="imgText1">
                <div class="imgText1__img">
                    <div class="imgText1__img-inner">
                        <img src="/images/expertise/img002.png" alt="" class="imgText1__img-main">
                        <img src="/images/expertise/circle.png" alt="" class="imgText1__img-circle">
                        <img src="/images/expertise/img002-mb.png" alt="" class="imgText1__img-mb">
                    </div>
                </div>
                <div class="imgText1__content">
                    <p class="imgText1__content-ttl" style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;">Nurturing</p>
                    <p class="imgText1__content-txt color-white">
                        Believe that ENVYSION’S priority <span>CENTERS ON YOU.</span><br />
                        We strive to be attentive and keep our clients’ needs and goals close to us so that we
                        are all
                        aligned for success.
                    </p>
                </div>
            </div>
        </div>
        <div class="indepen__slide-item">
            <div class="imgText1">
                <div class="imgText1__img">
                    <div class="imgText1__img-inner">
                        <img src="/images/expertise/img007.png" alt="" class="imgText1__img-main">
                        <img src="/images/expertise/circle.png" alt="" class="imgText1__img-circle">
                        <img src="/images/expertise/img007-mb.png" alt="" class="imgText1__img-mb">
                    </div>
                </div>
                <div class="imgText1__content">
                    <p class="imgText1__content-ttl" style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;">Inspiring</p>
                    <p class="imgText1__content-txt color-white">
                        Discipline brings structure. Feelings drive true motivation. With mind and heart,
                        ENVYSION actively listens, analyse and works intelligently to bring out success that
                        inspires collaborative synergies across generations, across borders.
                    </p>
                </div>
            </div>
        </div>
        <div class="indepen__slide-item">
            <div class="imgText1">
                <div class="imgText1__img">
                    <div class="imgText1__img-inner">
                        <img src="/images/expertise/img008.png" alt="" class="imgText1__img-main">
                        <img src="/images/expertise/circle.png" alt="" class="imgText1__img-circle">
                        <img src="/images/expertise/img008-mb.png" alt="" class="imgText1__img-mb">
                    </div>
                </div>
                <div class="imgText1__content">
                    <p class="imgText1__content-ttl" style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;">Highly Agile, Highly Mobile</p>
                    <p class="imgText1__content-txt color-white">
                        Opportunities expand and gaps reverse. Our team is extremely flexible and non-regimental
                        in our execution. We find that this method allows us to compound and unlock exponential
                        growth for our clients.
                    </p>
                </div>
            </div>
        </div>
        <div class="indepen__slide-item">
            <div class="imgText1">
                <div class="imgText1__img">
                    <div class="imgText1__img-inner">
                        <img src="/images/expertise/img009.png" alt="" class="imgText1__img-main">
                        <img src="/images/expertise/circle.png" alt="" class="imgText1__img-circle">
                        <img src="/images/expertise/img009-mb.png" alt="" class="imgText1__img-mb">
                    </div>
                </div>
                <div class="imgText1__content">
                    <p class="imgText1__content-ttl" style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;">Best of both worlds</p>
                    <p class="imgText1__content-txt color-white">
                        Clients enjoy safe and conflict-free advisory services at ENVYSION. We provide the
                        safety net for Clients by collaborating with regulated banks and financial institutions
                        while leveraging on ENVYSION's unbiased and independent offerings.
                    </p>
                </div>
            </div>
        </div>
        <div class="indepen__slide-item">
            <div class="imgText1">
                <div class="imgText1__img">
                    <div class="imgText1__img-inner">
                        <img src="/images/expertise/img010.png" alt="" class="imgText1__img-main">
                        <img src="/images/expertise/circle.png" alt="" class="imgText1__img-circle">
                        <img src="/images/expertise/img010-mb.png" alt="" class="imgText1__img-mb">
                    </div>
                </div>
                <div class="imgText1__content">
                    <p class="imgText1__content-ttl" style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;">Best-in-class</p>
                    <p class="imgText1__content-txt color-white">
                        By working with ENVYSION, our clients get to access to a full suite of best-in-class
                        solution providers, specialists and curated lifestyle services to meet your wealth
                        needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="expertise__btn">
        <img src="/images/expertise/btn001.png" alt="">
        <img src="/images/expertise/btn001-hover.png" alt="">
    </div>
    <div class="indepen__list">
        <div class="indepen__list-ttl">Solution-providers</div>
        <div class="indepen__list-inner">
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list001.jpg" alt="">
                    <div class="indepen__list-txt">Legal Firm</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list002.jpg" alt="">
                    <div class="indepen__list-txt">CPA</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list003.jpg" alt="">
                    <div class="indepen__list-txt">Trust & Fiduciary</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list004.jpg" alt="">
                    <div class="indepen__list-txt">Residency& Citizenship</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list005.jpg" alt="">
                    <div class="indepen__list-txt">Fine Arts</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list006.jpg" alt="">
                    <div class="indepen__list-txt">wine & whiskey</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list007.jpg" alt="">
                    <div class="indepen__list-txt">precious metals</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list008.jpg" alt="">
                    <div class="indepen__list-txt">private jets,Yachts</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list009.jpg" alt="">
                    <div class="indepen__list-txt">philanthrophy</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list010.jpg" alt="">
                    <div class="indepen__list-txt">technology</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list011.jpg" alt="">
                    <div class="indepen__list-txt">luxury assets</div>
                </a>
            </div>
            <div class="indepen__list-item">
                <a href="#" class="indepen__list-link">
                    <img src="/images/expertise/list012.jpg" alt="">
                    <div class="indepen__list-txt">energy</div>
                </a>
            </div>
        </div>
    </div>
    <div class="indepen__crossbar"><img src="/images/expertise/crossbar.png" alt=""></div>
</section>