<section class="meaning c-meaning">
    <h3 class="title1">Meaningful investment</h3>
    <div class="meaning__slide">
        <div class="meaning__slide-item">
            <div class="imgText1">
                <div class="imgText1__img">
                    <div class="imgText1__img-inner">
                        <img src="/images/expertise/img002.png" alt="" class="imgText1__img-main">
                        <img src="/images/expertise/circle.png" alt="" class="imgText1__img-circle">
                        <img src="/images/expertise/img002-mb.png" alt="" class="imgText1__img-mb">
                    </div>
                </div>
                <div class="imgText1__content">
                    <div class="meaning__text-slide">
                        <div>
                            <p class="imgText1__content-ttl text-gradient"></p>
                            <p class="imgText1__content-txt  color-white">
                                Visionary, yet highly focused on what’s best for our clients.
                                Here, we leverage our deep investors’ mind and entrepreneurial expertise to source and
                                advice on
                                suitable investments as well as upcoming opportunities at home and abroad. Here, we
                                serve as
                                your trusted long term partners and co-negotiators for new and current engagements,
                                assuring
                                that our clients' portfolio is well balanced and delivers optimal returns.
                            </p>
                        </div>
                        <div>
                            <p class="imgText1__content-ttl text-gradient">Our approach:<br /></p>
                            <p class="imgText1__content-txt  color-white">
                                • Risk-adjusted framework
                            </p>
                            <p class="imgText1__content-txt  color-white">
                                • Excellent business acumen
                            </p>
                            <p class="imgText1__content-txt  color-white">
                                • Entrepreneurial expertise
                            </p>
                            <p class="imgText1__content-txt  color-white">
                                • Insightful market perspectives
                            </p>
                        </div>
                    </div>
                </div>
                <div class="c-meaning__tutorial">
                    Swipe to view more
                    <img src="/images/expertise/arrow-right.png"/>
                </div>
            </div>
        </div>
    </div>
    <ul class="meaning__list">
        <li class="meaning__list-item" style="flex:1.8">
            <div class="meaning__list-img"><img src="/images/expertise/icon001.png" alt=""></div>
            <h3 class="meaning__list-ttl">
                <div class=" text-gradient">Geography of<br />Investment Solutions</div>
            </h3>
            <p class="meaning__list-txt color-white">Global and across all<br />asset classes.</p>
        </li>
        <li class="meaning__list-item" style="flex:1.8">
            <div class="meaning__list-img"><img src="/images/expertise/icon002.png" alt=""></div>
            <h3 class="meaning__list-ttl ">
                <div class=" text-gradient">
                    Investment<br /> Services
                </div>
            </h3>
            <p class="meaning__list-txt color-white">Portfolio management, financial investment advisory, execution, active
                monitoring.</p>
        </li>
        <li class="meaning__list-item" style="flex:2.6">
            <div class="meaning__list-img"><img src="/images/expertise/icon003.png" alt=""></div>
            <h3 class="meaning__list-ttl ">Core<br />Products</h3>
            <p class="meaning__list-txt color-white">Mutual Funds, Equities, Fixed Income, FX, Commodities, interest Rates,
                Alternative Investments, Structured Products, Insurance, Credit advisory, Wealth Planning
                structuring solutions.</p>
        </li>
        <li class="meaning__list-item" style="flex:1.8">
            <div class="meaning__list-img"><img src="/images/expertise/icon004.png" alt=""></div>
            <h3 class="meaning__list-ttl ">Marketing & Distribution</h3>
            <p class="meaning__list-txt color-white">Web page, apps, client meetings, best practice adoption, transparency,
                comprehensive after sales support.</p>
        </li>
        <li class="meaning__list-item" style="flex:1.8">
            <div class="meaning__list-img"><img src="/images/expertise/icon005.png" alt=""></div>
            <h3 class="meaning__list-ttl ">Risk<br /> Management</h3>
            <p class="meaning__list-txt color-white">Best practices adoption in all aspects of the business and non-business
                activities.</p>
        </li>
    </ul>
    <a href="#" class="expertise__btn pc-only expertise__meaning-button">
        <img src="/images/expertise/btn002.png" alt="">
        <img src="/images/expertise/btn002-hover.png" alt="">
    </a>
</section>