<section class="global">
    <img src="/images/expertise/img004.jpg" alt="" class="pc-only">
    <div class="global__content">
        <p class="global__ttl">global<br class="mb-only" /> philanthrophy</p>
        <p class="global__txt">
            Aspiring to further impact on long-term prosperity for the Next Gen?<br /><br />
            The Next Gen has taken interest in venturing out and run Philanthropy activities outside of Family
            Office, like it is their own.<br /><br />
            Bring on board experts at ENVYSION to help educate the Next Gen on the participation of
            philanthropic projects and set them up for the long term.<br /><br />
            Complimented by our partnership with trusted global philanthropic service providers and specialists,
            we support the ultra-high net worth families with comprehensive evaluation and planning
            before engagement.
        </p>
    </div>
    <div class="expertise__btn">
        <img src="/images/expertise/btn004.png" alt="">
        <img src="/images/expertise/btn004-hover.png" alt="">
    </div>
</section>