<section class="transfer">
    <img src="/images/expertise/img003.jpg" alt="" class="pc-only">
    <h3 class="title1">
        <div style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;">
            wealth transfer<br class="mb-only" /> & Succession<br class="mb-only" /> planning
        </div>
    </h3>
    <div class="transfer__content">
        <p class="transfer__ttl " style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;">
            We hear YOU.
        </p>
        <p class="transfer__txt color-white">
            To ensure success and long-term operation of any family businesses, challenges such as unity in the
            family must be addressed with shared values.<br /><br />
            ENVYSION has developed in-house expertise to assist clients with swift strategic succession plans
            and
            processes, with distinct family values at its very core.<br /><br />
            With the above, we assure strength and stability in your portfolios, preparing for continued long
            term
            growth and prosperity.<br /><br />
            On top of that, we spent 20 years in forging deep partnerships with highly skilled specialists at
            home
            and abroad. The team consists of internationally accredited insurance brokers, trust companies,
            legal firms, fiduciary service providers and many more partners.
        </p>
    </div>
    <a href="#" class="expertise__btn pc-only">
        <img src="/images/expertise/btn003.png" alt="">
        <img src="/images/expertise/btn003-hover.png" alt="">
    </a>
</section>