<section class="bespoke c-bespoke">
    <h3 class="title1">bespoke Family Office Solutions</h3>
    <div class="imgText1">
        <div class="imgText1__img">
            <div class="imgText1__img-inner">
                <img src="/images/expertise/img005.png" alt="" class="imgText1__img-main">
                <img src="/images/expertise/circle.png" alt="" class="imgText1__img-circle">
                <img src="/images/expertise/img005.png" alt="" class="imgText1__img-mb">
            </div>
        </div>
        <div class="imgText1__content">
            <p class="imgText1__content-ttl" style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">Different markets.<br class="mb-only"/> Similar tasks.</p>
            <p class="imgText1__content-txt color-white">
                Our clients shouldn’t have to juggle between 10 different solutions provider, while being
                bombarded with tonnes of decisions at home.
                ENVYSION works seamlessly with accredited partners to provide the full suite of family office
                solutions.<br /><br />
                <span style="    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">You name it and we will provide it.</span>
            </p>
        </div>
    </div>

    <div class="c-bespoke__traingle-container">
        <div>
            <div class="c-bespoke__traingle-content ds-none-pc">
                Custody<br/>
                Consolidation and Reporting
            </div>
            <div class="c-bespoke__traingle-item c-bespoke__traingle-item-1" 
                style="background-image:url(/images/penta-6.svg)">
                <div class="c-bespoke__traingle-wrap">
                    <div class="c-bespoke__traingle-title">
                        Information Management
                    </div>
                    <div class="c-bespoke__traingle-content ds-none-mobile">
                        Custody<br/>
                        Consolidation and Reporting
                    </div>
                </div>
            </div>
            <div class="c-bespoke__traingle-item c-bespoke__traingle-item-2"  
                style="background-image:url(/images/penta-1.svg)">
                <div class="c-bespoke__traingle-wrap">
                    <div class="c-bespoke__traingle-title">
                        Administrative<br/>
                        Services
                    </div>
                    <div class="c-bespoke__traingle-content ds-none-mobile">
                        Record-keeping/ Financial<br/>
                        Statements<br/>
                        Banking/ Credit<br/>
                        Risk Management<br/>
                        Tax Reporting
                    </div>
                </div>
            </div>
            <div class="c-bespoke__traingle-content ds-none-pc pl-2-mobile">
                Record-keeping/ Financial<br/>
                Statements<br/>
                Banking/ Credit<br/>
                Risk Management<br/>
                Tax Reporting
            </div>
        </div>
        <div>
            <div class="c-bespoke__traingle-content ds-none-pc">
                Wealth Structuring<br/>
                Trust Structuring<br/>
                Family Governance<br/>
                Succession Planning
            </div>
            <div class="c-bespoke__traingle-item c-bespoke__traingle-item-3"
                style="background-image:url(/images/penta-5.svg)">
                <div class="c-bespoke__traingle-wrap">
                    <div class="c-bespoke__traingle-title">
                        Financial<br/> Planning<br/> Servives
                    </div>
                    <div class="c-bespoke__traingle-content ds-none-mobile">
                        Wealth Structuring<br/>
                        Trust Structuring<br/>
                        Family Governance<br/>
                        Succession Planning
                    </div>
                </div>
            </div>
            <div class="c-bespoke__traingle-item c-bespoke__traingle-item-4 ds-none-mobile"
                style="background-image:url(/images/traingle-with-dot.svg)">
                <div class="c-bespoke__traingle-wrap">
                    <div class="c-bespoke__traingle-title">
                        Family<br/> Office<br/> Functions
                    </div>
                </div>
            </div>
            <div class="c-bespoke__traingle-item c-bespoke__traingle-item-5" 
                style="background-image:url(/images/penta-2.svg)">
                <div class="c-bespoke__traingle-wrap">
                    <div class="c-bespoke__traingle-title">
                        Operating<br/> Business Services
                    </div>
                    <div class="c-bespoke__traingle-content ds-none-mobile">
                        Support for Shareholder/ Director Functions<br/>
                        Capital Raising<br/>
                        Mergers & Acquisitions<br/>
                        Cornerstone Investments
                    </div>
                </div>
            </div>
            <div class="c-bespoke__traingle-content ds-none-pc pl-2-mobile">
                Support for Shareholder/ Director Functions<br/>
                Capital Raising<br/>
                Mergers & Acquisitions<br/>
                Cornerstone Investments
            </div>
        </div>
        <div>
            <div class="c-bespoke__traingle-content ds-none-pc">
                Philanthropic advice<br/>
                Foundation/ Trust Management<br/>
                Administration
            </div>
            <div class="c-bespoke__traingle-item c-bespoke__traingle-item-6"
                style="background-image:url(/images/penta-4.svg)">
                <div class="c-bespoke__traingle-wrap">
                    <div class="c-bespoke__traingle-title">
                        Philanthropy<br/> Management
                    </div>
                    <div class="c-bespoke__traingle-content ds-none-mobile">
                        Philanthropic advice<br/>
                        Foundation/ Trust Management<br/>
                        Administration
                    </div>
                </div>
            </div>
            <div class="c-bespoke__traingle-item c-bespoke__traingle-item-7"
                style="background-image:url(/images/penta-3.svg)">
                <div class="c-bespoke__traingle-wrap">
                    <div class="c-bespoke__traingle-title">
                        Investment<br/> Services
                    </div>
                    <div class="c-bespoke__traingle-content ds-none-mobile">
                        Overview monitoring & review of<br/>
                        invesments<br/>
                        Strategic Advisory (if required)
                    </div>
                </div>
            </div>
            <div class="c-bespoke__traingle-content ds-none-pc pl-2-mobile">
                Overview monitoring & review of<br/>
                invesments<br/>
                Strategic Advisory (if required)
            </div>
        </div>
        <img class="c-bespoke__background" src="/images/pentagroup.svg"/>
    </div>
    <div class="expertise__btn">
        <img src="/images/expertise/btn005.png" alt="">
        <img src="/images/expertise/btn005-hover.png" alt="">
    </div>
</section>