<footer class="footer">
    <!-- <div class="footer__logo"><img src="/images/home/logo005.png" alt=""></div>
    <ul class="footer__list">
        <li><a href="#"><img src="/images/home/icon-fb.svg" alt=""></a></li>
        <li><a href="#"><img src="/images/home/icon-in.svg" alt=""></a></li>
        <li><a href="#"><img src="/images/home/icon-ins.svg" alt=""></a></li>
        <li><a href="#"><img src="/images/home/vector.svg" alt=""></a></li>
    </ul>
    <p class="footer__copyright">
        Copyright 2019 Envysion Wealth Management - Designed by Sneakers Agency Asia 
        <span class="mobile-only">Office number: 121323432409</span>
        <br/>
        <span class="pc-only">Office number: 121323432409</span>
    </p>
    <div style="white-space: nowrap">
        <a href="#" class="footer__disclaimer">Disclaimer</a> - 
        <a href="#" class="footer__disclaimer">Term of Use</a>
    </div>
    <div class="footer__region">UEN: 201912494D, Incorporated in The Republic of Singapore.</div> -->

    <div class="footer2">
        <div class="footer2__container">
            <div class="footer2__left">
                <div class="footer2__logo-wrap">
                    <img src="/images/footer2-logo.svg" class="footer2__logo" />
                    <div class="footer2__logo-des">
                        A multi-family office that truly cares.
                    </div>
                </div>
                <div class="footer2__content">
                    <div class="footer2__title">
                        Receive our newsletter
                    </div>
                    <form class="footer2__email">
                        <input type="email" placeholder="Your email" />
                        <button type="submit" class="footer2__arrow" ><img src="/images/footer2-arrow.svg"/></button>
                    </form>
                    <button type="submit"  class="footer2__submit" >
                        <img src="/images/footer2-submit.svg" class="normal"/>
                        <img src="/images/footer2-submit-hover.svg" class="hover" />
                    </button>
                </div>
            </div>
            <div class="footer2__center">
    
            </div>
            <div class="footer2__right">
                <a href="#" class="footer2__title-small">
                    Navigation
                </a>
                <a href="#" class="footer2__title">
                    Investments
                </a>
                <a href="#" class="footer2__title">
                    Legacy Planning
                </a>
                <a href="#" class="footer2__title">
                    Philantrophy
                </a>
                <a href="#" class="footer2__title">
                    Family Office Solutions
                </a>
                <a href="#" class="footer2__title">
                    Career
                </a>
                <a href="#" class="footer2__title">
                    Contact
                </a>
                <div class="footer2__social">
                    <a href="#">
                        <img src="/images/footer2-insta.svg"/>
                        <span  class="text-gradient">Instagram</span>
                    </a>
                    <a href="#" class="text-gradient">
                        <img src="/images/footer2-link.svg"/>
                        <span  class="text-gradient">Linkedin</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2__bottom">
        <div class="footer2__bottom-container">
            <div class="footer2__bottom-left text-gradient">
                <div>@2019 Envysion Wealth Management</div>
            </div>
            <div class="footer2__bottom-center ">
                <a href="#" class="text-gradient">Terms Of Use</a>
            </div>
            <div class="footer2__bottom-right text-gradient">
                <div>3 Temasek Avenue, Centennial Tower,<br/>
                #19-01/02, Singapore 039190</div>
            </div>
            <div class="footer2__copyright-mobile text-gradient">
                <div  class="text-gradient">@2019 Envysion Wealth Management</div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="/libs/matchHeight/jquery.matchHeight.js"></script>
    <script type="text/javascript" src="/libs/typing/jquery.lettering.js"></script>
    <script type="text/javascript" src="/libs/typing/jquery.textillate.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</footer>