<section class="principles">
    <div class="imgText1" id="el1">
        <div class="imgText1__img">
            <h3 class="title1 mb-only fs-title fs-lato">Principles & Culture</h3>
            <div class="imgText1__img-inner">
                <img src="/images/home/img007.png" alt="" class="imgText1__img-main">
                <img src="/images/home/circle003.png" alt="" class="imgText1__img-circle">
                <div class="imgText1__img-quarter">
                    <img src="/images/home/quarter-circle.png" alt="">
                </div>
            </div>
        </div>
        <div class="imgText1__content">
            <h3 class="title1 pc-only">Principles & Culture</h3>
            <p class="imgText1__content-ttl">Envysion</p>
            <p class="imgText1__content-txt fw-300 ff-cormor">
                We believe that building great wealth legacies for Families and High
                Net worth Individuals requires anticipating our clients’ needs and envisioning their growth.
                Whether in business or family wealth, you need a great partner like ENVYSION who understands and
                foresees your opportunities as well as potential pitfalls in the future.
            </p>
        </div>
    </div>
</section>