<section class="you">
    <div class="you__banner">
        <!-- <img src="/images/home/img008.png" alt="" class="you__banner-img pc-only">
				<img src="/images/home/img008-mb.jpg" alt="" class="you__banner-img mb-only"> -->
        <div class="you__banner-video">
            <video autoplay muted loop playsinline id="vid">
                <source src="/images/home/movie.mp4" type="video/mp4">
            </video>
        </div>
        <div class="you__banner-txt">
            <p class="ff-comor">
                <span class="you__envy you__small">At ENVYSION</span><br />
                <span class="ff-lato you__you">“YOU”</span><br />
                <span class="you__priority you__small">are always centered in our priority.</span>
            </p>
        </div>
    </div>
    <div class="you__slide">
        <div class="you__slide-item">
            <h3 class="you__slide-ttl ff-lato">Value</h3>
            <p class="you__slide-txt ff-cormor">We add execution power, deep knowledge and insights that translate into
                a
                long term sustainable path for our clients and partners. We assure stability and growth for
                family businesses and their portfolios. This is where a strong and prosperous future begins.</p>
        </div>
        <div class="you__slide-item">
            <h3 class="you__slide-ttl ff-lato">“YOU”</h3>
            <p class="you__slide-txt ff-cormor">Envysion’s priority centers on YOU. With heart and soul, we listen,
                empathize, strategize, jointly collaborate and tailor holistic and structured bespoke plans and
                processes. </p>
        </div>
        <div class="you__slide-item">
            <h3 class="you__slide-ttl ff-lato">Solution Driven </h3>
            <p class="you__slide-txt ff-cormor">Every client or family’s need is unique. Envysion’s propositions derive
                from the immediate and long term needs that will be driven by solutions that effect a stable
                future legacy for our clients.</p>
        </div>
        <div class="you__slide-item">
            <h3 class="you__slide-ttl ff-lato">Independence</h3>
            <p class="you__slide-txt ff-cormor">Proprietary advice and an open sky platform that ensures unbiased and
                objectivity in our value propositions. </p>
        </div>
        <div class="you__slide-item">
            <h3 class="you__slide-ttl ff-lato">Opportunity</h3>
            <p class="you__slide-txt ff-cormor">Our clients benefit from Envysion’s extensive platform of solution
                providers and world-class specialists that offers unlimited opportunities to the table.</p>
        </div>
        <div class="you__slide-item">
            <h3 class="you__slide-ttl ff-lato">Network</h3>
            <p class="you__slide-txt ff-cormor">Build relationships with High Net Worth families through our extensive
                network of Wealth Managers and Private Banking partners and open doors for more collaborations.
            </p>
        </div>
    </div>
</section>