<section class="philosophy">
    <div class="philosophy__circle pc-only"><img src="/images/home/circle005.png" alt=""></div>
    <div class="philosophy__logo mb-only">
        <img src="/images/home/logo001-mb.svg" alt="">
        <div class="philosophy__logo-arrow">
            <img src="/images/home/arrow-down.svg" alt="">
            <div class="mb-only philosophy__expand">(tap to expand)</div>
        </div>
    </div>
    <p class="philosophy__desc mb-only">
        We execute what our clients envision, giving form and protection to families' assets during their
        transfer across generations.<br /><br />

        Every day, we dedicate ourselves to assure growth and chart a sustainable path for families through
        curation of wealth succession strategies that promote continuity and achieve high performing milestones
        through vision and influence – from one generation to the next.>
    </p>
    <div class="philosophy__desc-arrow">
        <img src="/images/home/arrow-up.svg" alt="">
        <div class="mb-only philosophy__expand">close</div>
    </div>
    <h3 class="title1 fs-title ff-lato">Our Philosophy</h3>
    <div class="philosophy__quote">
        <div class="philosophy__content">
            <div class="philosophy__content-inner">
                <div class="philosophy__content-quote pc-only"><img src="/images/home/quote.png" alt=""></div>
                <p>“Clients who work with us build better business families and stronger legacies. </p>
                <p>
                    We execute what our clients envision, giving form and protection to families’ assets during
                    their
                    transfer across generations.”
                </p>
            </div>
        </div>
        <div class="philosophy__content">
            <div class="philosophy__content-inner">
                <div class="philosophy__content-quote pc-only"><img src="/images/home/quote.png" alt=""></div>
                <p>“Clients who work with us build better business families and stronger legacies. </p>
                <p>
                    We execute what our clients envision, giving form and protection to families’ assets during
                    their
                    transfer across generations.”
                </p>
            </div>
        </div>
        <div class="philosophy__content">
            <div class="philosophy__content-inner">
                <div class="philosophy__content-quote pc-only"><img src="/images/home/quote.png" alt=""></div>
                <p>“Clients who work with us build better business families and stronger legacies. </p>
                <p>
                    We execute what our clients envision, giving form and protection to families’ assets during
                    their
                    transfer across generations.”
                </p>
            </div>
        </div>
        <div class="philosophy__content">
            <div class="philosophy__content-inner">
                <div class="philosophy__content-quote pc-only"><img src="/images/home/quote.png" alt=""></div>
                <p>“Clients who work with us build better business families and stronger legacies. </p>
                <p>
                    We execute what our clients envision, giving form and protection to families’ assets during
                    their
                    transfer across generations.”
                </p>
            </div>
        </div>
        <div class="philosophy__content">
            <div class="philosophy__content-inner">
                <div class="philosophy__content-quote pc-only"><img src="/images/home/quote.png" alt=""></div>
                <p>“Clients who work with us build better business families and stronger legacies. </p>
                <p>
                    We execute what our clients envision, giving form and protection to families’ assets during
                    their
                    transfer across generations.”
                </p>
            </div>
        </div>
        <div class="philosophy__content">
            <div class="philosophy__content-inner">
                <div class="philosophy__content-quote pc-only"><img src="/images/home/quote.png" alt=""></div>
                <p>“Clients who work with us build better business families and stronger legacies. </p>
                <p>
                    We execute what our clients envision, giving form and protection to families’ assets during
                    their
                    transfer across generations.”
                </p>
            </div>
        </div>
    </div>
    <div class="philosophy__slide">
        <div class="philosophy__slide-item">
            <div class="philosophy__slide-img">
                <img src="/images/home/img004.png" alt="">
            </div>
            <div class="philosophy__slide-content">
                <h3 class="philosophy__slide-name">Hanah Chen</h3>
                <p class="philosophy__slide-position">Co-founder</p>
            </div>
        </div>
        <div class="philosophy__slide-item">
            <div class="philosophy__slide-img">
                <img src="/images/home/img006.png" alt="">
            </div>
            <div class="philosophy__slide-content">
                <h3 class="philosophy__slide-name">Hanah Chen</h3>
                <p class="philosophy__slide-position">Co-founder</p>
            </div>
        </div>
        <div class="philosophy__slide-item">
            <div class="philosophy__slide-img">
                <img src="/images/home/img005.png" alt="">
            </div>
            <div class="philosophy__slide-content">
                <h3 class="philosophy__slide-name">Hanah Chen</h3>
                <p class="philosophy__slide-position">Co-founder</p>
            </div>
        </div>
        <div class="philosophy__slide-item">
            <div class="philosophy__slide-img">
                <img src="/images/home/img004.png" alt="">
            </div>
            <div class="philosophy__slide-content">
                <h3 class="philosophy__slide-name">Hanah Chen</h3>
                <p class="philosophy__slide-position">Co-founder</p>
            </div>
        </div>
        <div class="philosophy__slide-item">
            <div class="philosophy__slide-img">
                <img src="/images/home/img006.png" alt="">
            </div>
            <div class="philosophy__slide-content">
                <h3 class="philosophy__slide-name">Hanah Chen</h3>
                <p class="philosophy__slide-position">Co-founder</p>
            </div>
        </div>
        <div class="philosophy__slide-item">
            <div class="philosophy__slide-img">
                <img src="/images/home/img005.png" alt="">
            </div>
            <div class="philosophy__slide-content">
                <h3 class="philosophy__slide-name">Hanah Chen</h3>
                <p class="philosophy__slide-position">Co-founder</p>
            </div>
        </div>
    </div>
    <div class="philosophy__crossbar mb-only"><img src="/images/home/crossbar-mb.svg" alt=""></div>
</section>