<section class="c-generation__wrap">
    <h3 class="c-generation__title1  fs-title fs-lato">Next Generation</h3>
    <p class="c-generation__txt ff-cormor fw-300">
        Envysion consciously focuses on your next generation and thereafter. In this age of truly disruptive environment
        promoted by high technology, we focus on making a true difference that impacts the unity of families by
        utilizing best practices and the right framework for wealth succession planning.
    </p>
</section>