<section class="about">
    <h3 class="title2 pc-only">About us</h3>
    <div class="imgText2">
        <div class="imgText2__content">
            <h3 class="title2 mb-only ff-comor">About us</h3>
            <p class="imgText2__content-txt ff-lato">ENVYSION Wealth Management is a multi-family office registered in
                Singapore, operating under the MAS CMS framework for the provision of private wealth management,
                advisory and asset management to High Net Worth families and Accredited Investors in the region.
            </p>
            <p class="imgText2__content-txt ff-lato">The founders of ENVYSION started the firm primarily to realize
                their vision of bringing unbiased and conflict free wealth management service and advisory to
                their longstanding high net worth clients that they had served during their almost two decades
                long careers with international private banks. </p>
            <p class="imgText2__content-txt ff-lato">ENVYSION specializes in asset management and legacy planning. We
                work with best of breed private banks, insurance companies, international brokers and
                independent fund and securities houses, immigration companies, tax advisors and lawyers,
                independent trustees and other providers globally to cover all aspects of family governance and
                family constitution. Our value proposition is in our bespoke solutions and our people.</p>
        </div>
        <div class="imgText2__img">
            <div class="imgText2__img-inner">
                <img src="/images/home/img009.png" alt="" class="imgText2__img-main">
                <img src="/images/home/circle003.png" alt="" class="imgText2__img-circle">
                <div class="imgText2__img-quarter">
                    <img src="/images/home/quarter-circle1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="crossbar">
        <img src="/images/home/crossbar.png" alt="" class="pc-only">
        <img src="/images/home/crossbar-mb.svg" alt="" class="mb-only">
    </div>
</section>