<section class="career">
    <h3 class="title2 pc-only">Career</h3>
    <div class="imgText1">
        <div class="imgText1__img">
            <h3 class="title2 mb-only ff-cormor">Career</h3>
            <div class="imgText1__img-inner">
                <img src="/images/home/img010.png" alt="" class="imgText1__img-main">
                <img src="/images/home/circle003.png" alt="" class="imgText1__img-circle">
                <div class="imgText1__img-quarter">
                    <img src="/images/home/quarter-circle.png" alt="">
                </div>
            </div>
        </div>
        <div class="imgText1__content">
            <p class="imgText1__content-txt ff-lato">
                It takes vision and fascination to make ENVYSION gold.
            </p>
            <p class="imgText1__content-txt ff-lato">
                If you’re someone who values empathy and humility, delivers excellence through listening skills,
                who is often energized by accomplishments and complex situations, and who expects high standards
                in accountability and discretion, then you are the one we are looking for.
            </p>
            <p class="imgText1__content-txt ff-lato">
                We invest in people who want to help our teams be<br class="pc-only" /> successful in assisting our
                clients.
            </p>
            <p class="imgText1__content-txt ff-lato">Please contact us at <strong>career@envysionwealth.com</strong></p>
        </div>
    </div>
</section>