<header>
    <div class="nav-header">
        <div class="nav-header__logo1">
            <a href="/html/index.html">
                <img src="/images/home/logo001.png" alt="" class="pc-only">
                <img src="/images/home/logo001-mb.svg" alt="" class="mb-only">
            </a>
        </div>
        <nav class="nav-header__list">
            <ul>
                <li class="nav-header__item">
                    <a href="/html/establishment/index.html" class="nav-header__link is-active">establishment</a>
                    <ul class="nav-header__submenu">
                        <li class="nav-header__submenu-item">
                            <a href="#leadership" class="nav-header__submenu-link">Our Leadership</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <a href="#profile" class="nav-header__submenu-link">Executives Profile</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <a href="#partners" class="nav-header__submenu-link">Our Partners</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header__item">
                    <a href="/html/expertise/index.html" class="nav-header__link">expertise</a>
                    <ul class="nav-header__submenu">
                        <li class="nav-header__submenu-item">
                            <a href="#" class="nav-header__submenu-link">Overview</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <a href="#" class="nav-header__submenu-link">Meaningful Investments</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <a href="#" class="nav-header__submenu-link">Intelligent Wealth and Succession
                                Planning</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <a href="#" class="nav-header__submenu-link">Intelligent Wealth and Succession
                                Planning</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <a href="#" class="nav-header__submenu-link">Intelligent Wealth and Succession
                                Planning</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header__item">
                    <a href="/html/engage/index.html" class="nav-header__link">engage</a>
                    <ul class="nav-header__submenu">
                        <li class="nav-header__submenu-item">
                            <a href="#" class="nav-header__submenu-link">Office address</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <a href="#" class="nav-header__submenu-link">Email form</a>
                        </li>
                        <li class="nav-header__submenu-item">
                            <div class="nav-header__submenu-list">
                                <a class="nav-header__submenu-icon"
                                    href="https://api.whatsapp.com/send?phone=909090909&text=&source=&data="
                                    target="_blank">
                                    <img src="/images/home/icon-whatsapp.png" alt="">
                                </a>
                                <a class="nav-header__submenu-icon" href=""><img src="/images/home/icon-wechat.png"
                                        alt=""></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-header__item">
                    <a href="/html/elliance/index.html" class="nav-header__link">elliance</a>
                </li>
            </ul>
        </nav>
        <div class="nav-header__btn mb-only">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-header__logo2 pc-only">
            <a href="/">
                <img src="/images/home/logo002.png" alt="">
                <img src="/images/home/logo002-hover.png" alt="">
            </a>
        </div>
    </div>
</header>