.text-gradient{
    background: linear-gradient(161.23deg, #D7914E 0%, #FFE2B4 30.73%, #FDAE62 71.37%, #FEC973 100.02%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
a:hover{
    text-decoration: none;
}

.mobile-only{
    @media(min-width:921px){
        display: none;
    }
}

.pc-only{
    @media(max-width:920px){
        display: none;
    }
}

// font-size
.fs-title{
    font-size:$fs-title !important;
    @media(max-width:920px){
        font-size: $fs-title-mobile !important;
    }
}
.fs-m{
    $font-size:$fs-m !important;
    @media(max-width:920px){
        font-size:$fs-m-mobile !important;
    }
}

.fs-l{
    $font-size:$fs-l !important;
    @media(max-width:920px){
        font-size:$fs-l-mobile !important;
    }
}

// Font weight
.fw-300{
    font-weight: 300 !important;
}


/// Font family
.ff-lato{
    font-family: 'Lato' !important;
}

.ff-cormor{
    font-family: 'CormorantGaramond' !important;
}

.ff-lato-mobile{
    @media(max-width:992px){
        font-family: 'Lato' !important;
    }
}
.ff-cormor-mobile{
    @media(max-width:992px){
        font-family: 'CormorantGaramond' !important;
    }
}

// Color
.color-white{
    color:$white-color !important;
}

.slick-slide{
    height: auto;
}
.index  .mainVisual__txt.typing{
    animation: fadeInLeft 2.3s;
    animation-delay: 9s;
}
.index .envysion__slide .mainVisual__btn{
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 11s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7.5px);
    }
}
@keyframes fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translateX(-400px);
        -ms-transform:translateX(-400px);
        transform:translateX(-400px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(400px);
        -ms-transform:translateX(400px);
        transform:translateX(400px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

#loading{
    position: fixed;
    z-index: 9999999999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:#024644;

    .first{
        width:60px;
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        opacity: 0;
        transform: translate(-50%,-50%);
        animation: loading-first 3s both;
        animation-delay: 4.5s;
        transform-origin: top left;
    }
    .second{
        width:450px;
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        animation: loading-second 3s both;
        animation-delay: 0.5s;
        @media(max-width:920px){
            width:250px;
        }
    }
    .last{
        width:400px;
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        font-family: 'Lato';
        font-weight: 300;
        transform: translate(-50%,-50%);
        opacity: 0;
        font-size:64px;
        animation: loading-second 2s both;
        animation-delay: 3s;
        white-space: nowrap;
        @media(max-width:920px){
            width:200px;
        }
    }
}

.you{
    .you__envy{
        @media(max-width: 920px){
            font-size:18px !important;
            font-family: "CormorantGaramond-Regular" !important;
        }
    }
    .you__priority{
        @media(max-width: 920px){
            font-size:18px !important;
            font-family: "CormorantGaramond-Regular" !important;
        }
    }
}
.you.active-animation{
    .you__envy{
        animation: you-first 1.5s both;
    }
    .you__you{
        animation: you-second 1.5s both;
        animation-delay: 1.5s;
    }
    .you__priority{
        animation: you-last 1.5s both;
        animation-delay: 3s;
    }
}
@keyframes you-first{
    0%{
        opacity: 0;
        transform: translate(-100px,0);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}
@keyframes you-second{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes you-last{
    0%{
        opacity: 0;
        transform: translate(100px,0);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes loading-first{
    0%{
        opacity: 0;
        transform: rotate(0) translate(-50%,-50%);
    }
    1%{
        opacity: 1;
        transform: rotate(0) translate(-50%,-50%);
    }
    99%{
        transform: rotate(360deg) translate(-50%,-50%);
    }
    100%{
        transform: rotate(360deg) translate(-50%,-50%);
        opacity: 0;
    }
}

@keyframes loading-second{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes loading-last{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes loading{
    0%{
        display: block;
    }
    100%{
        display: none;
    }
}


.expertise .envysion__slide.active-animation{
    .expertise__banner-animation1{
        animation: expertise__banner-animation 1.5s ease-in-out both;
    }
    .expertise__banner-animation2{
        animation: expertise__banner-animation 1.5s ease-in-out both;
        animation-delay: 1.5s;
    }
    .mainVisual__btn{
        animation: fadeIn 1s ease-in-out both;
        animation-delay: 3s;
    }
}
@keyframes expertise__banner-animation{
    0%{
        opacity: 0;
        transform: translate(-300px,0);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

.establishment .active-animation.envysion__slide .mainVisual--banner2 .mainVisual__txt{
    white-space: normal;
    p:nth-child(1){
        animation: fadeInRight 1.5s ease-in-out both; 
    }
    p:nth-child(2){
        animation: fadeInRight 1.5s ease-in-out both; 
        animation-delay: 1.5s;
    }
    p:nth-child(3){
        animation: fadeInRight 1s ease-in-out both; 
        animation-delay: 3s;
    }
}
.establishment .envysion__slide .mainVisual--banner2 .mainVisual__btn{
    opacity: 0;
}
.establishment .active-animation.envysion__slide .mainVisual--banner2 .mainVisual__btn{
    animation: fadeIn 1s both;
    animation-delay: 3s;
}
.modal-open{
    overflow: hidden !important;
}
.indepen.c-indepen .indepen__txt p{
    opacity: 0;
}
.indepen.c-indepen .indepen__txt p.active-animation{
    animation: fadeInUp 1s ease-in-out both;
    animation-delay: 1s;
}
/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* Old shadow dom for play button */
  
  *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* New shadow dom for play button */
  
  /* This one works! */
  
  *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }